@use '@angular/material' as mat;
@include mat.core();

/* Define individual typography levels */
$headline-1: mat.define-typography-level(40px, 48px, 300);
$headline-2: mat.define-typography-level(28px, 32px, 300);
$headline-3: mat.define-typography-level(22px, 28px, 500);
$headline-4: mat.define-typography-level(20px, 26px, 500);
$body-1: mat.define-typography-level(16px, 24px, 400);
$body-2: mat.define-typography-level(16px, 24px, 500);
$button: mat.define-typography-level(14px, 16px, 400);
$caption: mat.define-typography-level(14px, 16px, 300);
$headline-5: mat.define-typography-level(22px, 28px, 400);
$headline-6: mat.define-typography-level(18px, 24px, 400);
$subtitle-1: mat.define-typography-level(16px, 24px, 500);
$subtitle-2: mat.define-typography-level(16px, 24px, 500);

/* Combine them into a single typography config */
$num-typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace',
  $headline-1: $headline-1,
  $headline-2: $headline-2,
  $headline-3: $headline-3,
  $headline-4: $headline-4,
  $headline-5: $headline-5,
  $headline-6: $headline-6,
  $subtitle-1: $subtitle-1,
  $subtitle-2: $subtitle-2,
  $body-1: $body-1,
  $body-2: $body-2,
  $button: $button,
  $caption: $caption,
);
