<mat-form-field appearance="outline">
  <mat-label>{{ 'FORM.CATEGORY' | translate }}</mat-label>
  <mat-chip-grid
    #categoryChipList
    aria-label="Category selection"
    data-test="project-editor__general-info__categories-chip-list"
  >
    <mat-chip-option
      *ngFor="let category of categories; let i = index"
      (removed)="removeCategory(i)"
      [value]="category"
      class="chip-primary"
      data-test="project-editor__general-info__category-chip"
      removable
    >
      <span>{{ 'PROJECT.CATEGORIES.' + category | translate }}</span>
      <button
        mat-icon-button
        matChipRemove
        aria-label="Remove category"
        class="chip__remove-icon"
        data-test="project-editor__general-info__categories-remove-category-button"
      >
        <fa-icon icon="times-circle"></fa-icon>
      </button>
    </mat-chip-option>
    <input
      #categoryInput
      placeholder="{{ 'FORM.SELECT_CATEGORY' | translate }}"
      [formControl]="categoryCtrl"
      [matAutocomplete]="categoryAutocomplete"
      #trigger="matAutocompleteTrigger"
      [matChipInputFor]="categoryChipList"
      matChipInputAddOnBlur
      (focus)="openCategoryAutocomplete()"
      data-test="project-editor__general-info__categories-input"
    />
  </mat-chip-grid>
  <mat-autocomplete
    #categoryAutocomplete="matAutocomplete"
    (optionSelected)="addCategory($event, trigger)"
    autoActiveFirstOption
    data-test="project-editor__general-info__categories-autocomplete"
  >
    <mat-option
      *ngFor="let category of filteredCategories | async"
      [value]="category"
      data-test="project-editor__general-info__category-option"
    >
      {{ 'PROJECT.CATEGORIES.' + category | translate }}
    </mat-option>
    <mat-option
      *ngIf="isNoResults"
      disabled
      data-test="project-editor__general-info__category-option__no-results"
    >
      {{ 'PROJECT.CATEGORIES_NO_RESULTS' | translate }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
