:host {
  min-height: 55px;
  border-left: 8px solid grey;
  padding: 8px 15px;

  &.configured {
    border-left: 8px solid #10603c;
  }
}

.not-icon {
  font-size: 26px;
  vertical-align: text-bottom;
  margin: 0 10px 0 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-checkbox {
  align-self: center;
}

.parameter-error {
  margin: 10px 0 0 0;
}
