<section
  role="presentation"
  fxLayout="column-reverse"
  fxLayout.gt-sm="row"
  fxLayoutGap.gt-sm="20px"
>
  <num-filter-chips
    fxFlex.gt-sm="50%"
    [filterChips]="filterConfig.filterItem"
    [multiSelect]="false"
    (selectionChange)="handleFilterChange()"
  ></num-filter-chips>

  <num-search
    fxFlex.gt-sm="50%"
    label="RESEARCHERS.SEARCH_RESEARCHERS"
    [(searchText)]="filterConfig.searchText"
    (searchTextChange)="handleSearchChange()"
  ></num-search>
</section>

<h2 class="mat-display-2">
  {{ 'RESEARCHERS.PLEASE_SELECT_AT_LEAST_1_PERSON' | translate }}
</h2>

<mat-card class="filter-area mat-elevation-z4 num-margin-b-20">
  <num-filter-table
    [dataSource]="dataSource"
    [columnKeys]="columnKeys"
    [columnPaths]="columnPaths"
    [(selectedItems)]="selectedResearchers"
    [identifierName]="'id'"
    data-test="dialog-add-researchers__filter-table"
  ></num-filter-table>
  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSizeOptions]="[5, 10, 20, 40]"
    (page)="onPageChange($event)"
    [pageSize]="pageSize"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>

<mat-divider class="num-d-w--1"></mat-divider>
