<h3 id="studies-header">{{ 'AVAILABLE_STUDIES' | translate }}</h3>

<div role="presentation" class="mat-elevation-z1 num-margin-b-60">
  <table
    aria-labelledby="studies-header"
    mat-table
    [dataSource]="dataSource"
    matSort
    data-test="studies__table"
  >
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent let-studyStatus="studyStatus" let-id="id">
        <button
          class="num-mat-list-item"
          *ngFor="let menuItem of menuItems | itemVisibility: studyStatus"
          [disabled]="menuItem.isDisabled"
          mat-menu-item
          (click)="handleMenuClick(menuItem.id, id)"
          [attr.data-test]="'studies__table__action-item__' + menuItem.id + '-button'"
        >
          {{ menuItem.translationKey | translate }}
        </button>
      </ng-template>
    </mat-menu>

    <ng-container matColumnDef="menu">
      <th scope="col" mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="element.status"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          [matMenuTriggerData]="{ studyStatus: element.status, id: element.id }"
          data-test="studies__table__action-menu-button"
        >
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ (element.status ? 'STUDY.STATUS.' + element.status : undefined) | translate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    data-test="studies__table__paginator"
  ></mat-paginator>
</div>
