@if (type === 'primary') {
  <button
    mat-flat-button
    class="num-button"
    color="primary"
    [disabled]="isDisabled"
    (click)="buttonClicked()"
    (dblclick)="buttonDoubleClicked()"
  >
    @if (icon) {
      <fa-icon [icon]="icon" size="lg" [fixedWidth]="true"></fa-icon>
    }
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
}

@if (type === 'secondary') {
  <button
    mat-stroked-button
    class="num-button"
    color="primary"
    [disabled]="isDisabled"
    (click)="buttonClicked()"
    (dblclick)="buttonDoubleClicked()"
  >
    @if (icon) {
      <fa-icon [icon]="icon" size="lg" [fixedWidth]="true"></fa-icon>
    }
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
}

@if (type === 'basic') {
  <button
    class="num-button"
    mat-button
    color="primary"
    [disabled]="isDisabled"
    (click)="buttonClicked()"
    (dblclick)="buttonDoubleClicked()"
  >
    @if (icon) {
      <fa-icon [icon]="icon" size="lg" [fixedWidth]="true"></fa-icon>
    }
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
}

<ng-template #content><ng-content></ng-content></ng-template>
