<button
  mat-flat-button
  class="num-button"
  color="primary"
  [disabled]="isDisabled"
  *ngIf="type === 'primary'"
>
  <fa-icon *ngIf="icon" [icon]="icon" size="lg" [fixedWidth]="true"></fa-icon>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  mat-stroked-button
  class="num-button"
  color="primary"
  [disabled]="isDisabled"
  *ngIf="type === 'secondary'"
>
  <fa-icon *ngIf="icon" [icon]="icon" size="lg" [fixedWidth]="true"></fa-icon>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  class="num-button"
  mat-button
  color="primary"
  [disabled]="isDisabled"
  *ngIf="type === 'basic'"
>
  <fa-icon *ngIf="icon" [icon]="icon" size="lg" [fixedWidth]="true"></fa-icon>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<ng-template #content><ng-content></ng-content></ng-template>
