<section
  class="cohort-builder"
  role="region"
  data-test="cohot-builder"
  fxLayout="row"
  fxLayoutAlign="space-between start"
  [fxLayoutGap]="raised ? '8px' : '32px'"
>
  <num-aql-selection
    fxFlex="270px"
    [ngClass]="{ raised: raised }"
    *ngIf="!isDisabled"
  ></num-aql-selection>
  <num-aql-connector-group
    class="connector-group"
    [ngClass]="{ raised: raised }"
    fxFlex="100%"
    *ngIf="isLoadingComplete"
    [cohortGroup]="cohortNode"
    [parentGroupIndex]="null"
    [index]="0"
    [isDisabled]="isDisabled"
  ></num-aql-connector-group>
</section>
