<section
  class="cohort-builder"
  role="region"
  data-test="cohot-builder"
  fxLayout="row"
  fxLayoutAlign="space-between start"
  [fxLayoutGap]="raised ? '8px' : '32px'"
>
  @if (!isDisabled) {
    <num-aql-selection fxFlex="270px" [ngClass]="{ raised: raised }"></num-aql-selection>
  }
  @if (isLoadingComplete) {
    <num-aql-connector-group
      class="connector-group"
      [ngClass]="{ raised: raised }"
      fxFlex="100%"
      [cohortGroup]="cohortNode"
      [parentGroupIndex]="null"
      [index]="0"
      [isDisabled]="isDisabled"
    ></num-aql-connector-group>
  }
</section>
