.aql {
  min-height: 48px;
  padding: 5px 3px 5px 16px;
  border-bottom: 1px solid var(--num-color--light-grey);

  &__meta {
    display: flex;
    align-items: center;
    max-width: 84%;

    &__name {
      max-width: 84%;
      word-wrap: break-word;
    }
  }
}

.no-results {
  padding: 16px 16px 8px 16px;
}
