{
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "semi": false,
  "overrides": [
    {
      "files": ["index.html", "silent-refresh.html"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
