<h2>{{ 'USER_MANAGEMENT.ALL_USERS_HEADER' | translate }}</h2>

<p class="num-margin-b-40">
  {{ 'USER_MANAGEMENT.ALL_USERS_DESCRIPTION' | translate }}
</p>

<h3 id="approved-users-header">{{ 'NAVIGATION.ALL_USERS' | translate }}</h3>

<section fxLayout="row">
  <num-filter-chips
    [filterChips]="filterConfig.filterItem"
    [multiSelect]="false"
    (selectionChange)="handleFilterChange()"
  ></num-filter-chips>

  <num-search
    fxFlexOffset="auto"
    fxFlex="25%"
    label="SEARCH_USER"
    [(searchText)]="filterConfig.searchText"
    (searchTextChange)="handleSearchChange()"
  ></num-search>
</section>

<num-approved-users-table
  data-test="user-management__approved-users__table"
></num-approved-users-table>
