<section role="region" fxLayout="column" fxFlex="100%">
  <h2>{{ 'SEARCH.DATA_EXPLORER_HEADING' | translate }}</h2>

  <p class="mat-body num-margin-b-40">{{ 'SEARCH.DATA_EXPLORER_DESCRIPTION' | translate }}</p>

  <num-button
    icon="play"
    class="num-margin-b-60"
    (singleClick)="getData()"
    data-test="manager-data-explorer__retrieval-button"
    >{{ 'BUTTON.GET_DATA' | translate }}</num-button
  >

  @if (resultSet && resultSet.length && !isDataSetLoading) {
    <div
      fxFlex
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start center"
      class="num-margin-b-40"
    >
      <num-button
        type="secondary"
        icon="file-download"
        (singleClick)="exportFile('csv')"
        [isDisabled]="isExportLoading"
        data-test="manager-data-explorer__export-csv-button"
      >
        {{ 'DATA_EXPLORER.EXPORT' | translate: { format: 'CSV' } }}
      </num-button>
      <num-button
        type="secondary"
        icon="file-download"
        (singleClick)="exportFile('json')"
        [isDisabled]="isExportLoading"
        data-test="manager-data-explorer__export-json-button"
      >
        {{ 'DATA_EXPLORER.EXPORT' | translate: { format: 'JSON' } }}
      </num-button>
      @if (isExportLoading) {
        <mat-spinner color="accent" [diameter]="20" class="export-csv_spinner"></mat-spinner>
      }
    </div>
  }

  @if (!isDataSetLoading) {
    @for (template of resultSet; track template; let i = $index) {
      <num-result-table
        [resultSet]="template"
        [isDataSetLoading]="isDataSetLoading"
        [index]="i"
        [totalTables]="resultSet.length"
        class="num-margin-b-20"
        data-test="manager-data-explorer__table"
      ></num-result-table>
    }
  } @else {
    <mat-card appearance="outlined" class="mat-elevation-z1">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-spinner color="accent" [diameter]="24"></mat-spinner>
        <span>{{ 'DATA_EXPLORER.LOADING_RESULT_SET' | translate }}</span>
      </div>
    </mat-card>
  }

  <mat-divider class="num-d-w--1 num-d-c--g num-margin-b-40"></mat-divider>

  <div role="presentation" fxLayout="row" fxLayoutAlign="space-between">
    <num-button
      id="back-button"
      type="secondary"
      (singleClick)="goBack()"
      [attr.data-test]="'manager-data-explorer__back-button'"
      >{{ 'BUTTON.BACK' | translate }}</num-button
    >
  </div>
</section>
