<section fxLayout="column">
  <h2>{{ 'PHENOTYPE.CREATE_PHENOTYPE' | translate }}</h2>
  <p class="num-margin-b-40">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus.
  </p>
  <num-phenotype-editor-general-info
    [form]="phenotypeForm"
    class="num-margin-b-40"
  ></num-phenotype-editor-general-info>

  <num-phenotype-editor-connector
    class="num-margin-b-60"
    [phenotypeQuery]="resolvedData.phenotype?.query"
    [isDetermineDisabled]="!resolvedData.phenotype?.query?.children?.length"
    [determineHitsContent]="determineHitsContent"
    (determineHitsClicked)="determineHits()"
  ></num-phenotype-editor-connector>

  <section role="region" fxLayout="column">
    <mat-divider class="button-row-divider num-d-w--1"></mat-divider>
    <div role="presentation" fxLayout="row" fxLayoutAlign="space-between">
      <num-button
        type="secondary"
        (singleClick)="cancel()"
        data-test="phenotype-editor__cancel-button"
        >{{ 'BUTTON.CANCEL' | translate }}</num-button
      >
      <num-button
        type="primary"
        (singleClick)="saveForm()"
        [isDisabled]="!(phenotypeForm.valid && resolvedData.phenotype?.query?.children?.length)"
        data-test="phenotype-editor__save-button"
      >
        {{ 'BUTTON.CREATE_PHENOTYPE' | translate }}
      </num-button>
    </div>
  </section>
</section>
