<section fxLayoutGap="54px" fxLayout="column">
  <num-phenotype-editor-general-info [form]="phenotypeForm"></num-phenotype-editor-general-info>
  <num-phenotype-editor-connector
    [phenotypeQuery]="resolvedData.phenotype?.query"
  ></num-phenotype-editor-connector>

  <section role="region" fxLayout="column">
    <mat-divider class="button-row-divider num-d-w--1"></mat-divider>
    <div role="presentation" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-stroked-button color="primary">Abrechen</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!(phenotypeForm.valid && resolvedData.phenotype?.query.children.length)"
        (click)="saveForm()"
      >
        Phänotyp erstellen
      </button>
    </div>
  </section>
</section>
