.message {
  cursor: pointer;
  line-height: 24px;
  background-color: #fff;
  padding: 10px;
  border: 2px solid;
  margin: 10px 20px 0;
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
  transform: scaleY(1);
  opacity: 1;
  transition: all 0.2s ease;
  &.hidden {
    margin: 0 20px;
    padding: 0 10px;
    transform: scaleY(0);
    line-height: 0;
  }
  &.error {
    border-color: red;
  }
  &.warning {
    border-color: orange;
  }
  &.info {
    border-color: #232323;
  }
}
