<mat-toolbar color="light" class="toolbar" fxLayoutGap="20px">
  <ng-content></ng-content>

  <span fxFlex></span>

  <a href="#">
    <num-button type="basic" icon="envelope">{{ 'LEGAL.CONTACT' | translate }}</num-button>
  </a>

  <num-language></num-language>
</mat-toolbar>

<section role="heading" fxLayout="row" fxLayoutAlign="center start" *ngIf="currentMainNavItem">
  <div
    class="titlebar num-margin-b-60"
    role="presentation"
    fxLayout="column"
    fxLayoutAlign="center start"
    fxFlex="95%"
    fxFlex.gt-md="90%"
    fxFlex.gt-lg="1200px"
  >
    <h1>
      <fa-icon
        class="num-fc--a"
        [icon]="currentMainNavItem.icon"
        size="sm"
        [fixedWidth]="true"
      ></fa-icon>
      {{ currentMainNavItem.translationKey | translate }}
    </h1>

    <nav mat-tab-nav-bar [backgroundColor]="'#fff'" color="accent" *ngIf="currentTabNav">
      <a
        class="no-focus"
        mat-tab-link
        *ngFor="let tab of currentTabNav"
        [routerLink]="tab.routeTo"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [active]="tab.id === currentTabNavSelected"
      >
        {{ tab.translationKey | translate }}
      </a>
    </nav>
  </div>
</section>
