<mat-toolbar color="light" class="toolbar" fxLayoutGap="20px">
  <ng-content></ng-content>

  <span fxFlex></span>

  <num-language></num-language>
</mat-toolbar>

<section
  class="header-image"
  [ngClass.xs]="{ 'header-image--small': true }"
  *ngIf="currentMainNavItem?.routeTo === 'home'"
>
  <num-logo [shouldAnimate]="isFirstHomeVisit"></num-logo>
</section>

<section role="heading" fxLayout="row" fxLayoutAlign="center start" *ngIf="currentMainNavItem">
  <div
    [ngClass]="{
      'titlebar num-margin-b-60': currentMainNavItem?.routeTo !== 'home'
    }"
    role="presentation"
    fxLayout="column"
    fxLayoutAlign="center start"
    fxFlex="95%"
    fxFlex.gt-md="90%"
    fxFlex.gt-lg="1200px"
  >
    <h1 data-test="header__page-headline">
      <fa-icon
        class="num-fc--a"
        [icon]="currentMainNavItem.icon"
        size="sm"
        [fixedWidth]="true"
      ></fa-icon
      >{{ currentMainNavItem.translationKey | translate }}
    </h1>

    <nav mat-tab-nav-bar [backgroundColor]="'#fff'" color="accent" *ngIf="currentTabNav">
      <a
        class="no-focus"
        mat-tab-link
        *ngFor="let tab of currentTabNav"
        [routerLink]="tab.routeTo"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [active]="tab.id === currentTabNavSelected"
        [disabled]="tab.id === currentTabNavSelected || tab.disabled === true"
        [attr.data-test]="'header__tab-nav__' + tab.translationKey"
      >
        {{ tab.translationKey | translate }}
      </a>
    </nav>
  </div>
</section>
