<section
  role="region"
  aria-labelledby="general-info-label"
  fxLayout="column"
  fxFlex="100%"
  fxLayoutGap="20px"
>
  <h3>{{ 'CONNECT_AQL' | translate }}</h3>

  <mat-card fxLayout="column">
    <mat-card-content fxFlex="100%">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.
    </mat-card-content>

    <num-phenotype-editor-connector-group
      role="list"
      [phenotypeGroup]="phenotypeQuery"
      [parentGroupIndex]="null"
      fxFlex="100%"
    ></num-phenotype-editor-connector-group>
  </mat-card>
</section>
