<section
  role="region"
  aria-labelledby="general-info-label"
  fxLayout="column"
  fxFlex="100%"
  fxLayoutGap="20px"
>
  <h3>{{ 'AQL.CONNECT_AQL' | translate }}</h3>

  <mat-card fxLayout="column">
    <mat-card-content fxFlex="100%"> </mat-card-content>

    <num-phenotype-editor-connector-group
      role="list"
      class="num-margin-b-20"
      [phenotypeGroup]="phenotypeQuery"
      [parentGroupIndex]="null"
      fxFlex="100%"
      data-test="phenotype-editor__connector__group"
    ></num-phenotype-editor-connector-group>

    <num-editor-determine-hits
      [isButtonDisabled]="isDetermineDisabled"
      [content]="determineHitsContent"
      (clicked)="determineHitsClicked.emit()"
    ></num-editor-determine-hits>
  </mat-card>
</section>
