<section fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center" *ngIf="item">
  <ng-container [formGroup]="valueForm">
    <mat-form-field
      *ngIf="
        item.valueType === AqlParameterValueType.Double ||
        item.valueType === AqlParameterValueType.Number ||
        item.valueType === AqlParameterValueType.String
      "
      floatLabel="always"
      appearance="outline"
      class="input num-tiny-input value-input"
    >
      <mat-label *ngIf="mode === 'cohortBuilder'" id="value-label">{{ item.name }}</mat-label>
      <mat-label *ngIf="mode === 'aqb' || !item.name" id="value-label">{{
        'FORM.VALUE' | translate
      }}</mat-label>
      <input
        aria-labelledby="value-label"
        formControlName="value"
        [attr.inputmode]="item.valueType === AqlParameterValueType.String ? 'latin' : 'numeric'"
        matInput
        type="text"
        data-test="aql-parameter-inputs__value-input"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="input num-tiny-input boolean-select"
      *ngIf="item.valueType === AqlParameterValueType.Boolean"
    >
      <mat-label *ngIf="mode === 'cohortBuilder'" id="boolean-label">{{ item.name }}</mat-label>
      <mat-label *ngIf="mode === 'aqb' || !item.name" id="boolean-label">{{
        'FORM.VALUE' | translate
      }}</mat-label>
      <mat-select
        aria-labelledby="boolean-label"
        formControlName="value"
        data-test="aql-parameter-inputs__boolean-value__selector"
      >
        <mat-option
          *ngFor="let value of [true, false]"
          [value]="value"
          [attr.data-test]="'aql-parameter-inputs__boolean-value__' + value"
        >
          {{ value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="input num-tiny-input options-select"
      *ngIf="item.valueType === AqlParameterValueType.Options"
    >
      <mat-label *ngIf="mode === 'cohortBuilder'" id="options-label">{{ item.name }}</mat-label>
      <mat-label *ngIf="mode === 'aqb' || !item.name" id="options-label">{{
        'FORM.VALUE' | translate
      }}</mat-label>
      <mat-select
        aria-labelledby="options-label"
        formControlName="value"
        data-test="aql-parameter-inputs__options-value__selector"
      >
        <mat-option
          *ngFor="let option of item.options | keyvalue"
          [value]="option.key"
          [attr.data-test]="'aql-parameter-inputs__options-value__' + option.value"
        >
          {{ option.value + ' (' + option.key + ')' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="input num-tiny-input datepicker"
      *ngIf="
        item.valueType === AqlParameterValueType.Date ||
        item.valueType === AqlParameterValueType.DateTime
      "
    >
      <mat-label *ngIf="mode === 'cohortBuilder'" id="datepicker-label">{{ item.name }}</mat-label>
      <mat-label *ngIf="mode === 'aqb' || !item.name" id="datepicker-label">{{
        'DATE_TIME.DATE' | translate
      }}</mat-label>
      <input
        aria-labelledby="datepicker-label"
        matInput
        [matDatepicker]="picker"
        [value]="item.value"
        (dateChange)="datePickerChange($event)"
        data-test="aql-parameter-inputs__datepicker-input"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        data-test="aql-parameter-inputs__datepicker-toggle"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <num-time-input
      appearance="outline"
      [(date)]="item.value"
      class="input num-tiny-input"
      *ngIf="
        item.valueType === AqlParameterValueType.Time ||
        item.valueType === AqlParameterValueType.DateTime
      "
      data-test="aql-parameter-inputs__time-value-input"
    ></num-time-input>
  </ng-container>
</section>
