<h2>{{ 'NAVIGATION.QUERIES_CATEGORIES_OVERVIEW' | translate }}</h2>

<p class="num-margin-b-40">{{ 'QUERY_CATEGORIES.OVERVIEW_DESCRIPTION' | translate }}</p>

<num-aql-categories-table
  (openEditDialog)="handleOpenEditDialog($event)"
></num-aql-categories-table>

<section
  role="region"
  fxLayout="column"
  class="num-margin-b-40"
  *numUserHasRole="[availableRoles.CriteriaEditor]"
>
  <h3>{{ 'QUERY_CATEGORIES.CREATE_HEADER' | translate }}</h3>
  <p class="num-margin-b-20">
    {{ 'QUERY_CATEGORIES.CREATE_DESCRIPTION_BUTTON' | translate }}
  </p>
  <num-button
    type="primary"
    icon="plus"
    (singleClick)="handleOpenEditDialog()"
    [attr.data-test]="'aql-category-management__create-aql-category-button'"
    >{{ 'BUTTON.CREATE_QUERY_CATEGORY' | translate }}</num-button
  >
</section>
