<mat-expansion-panel>
  <mat-expansion-panel-header data-test="studies-editor__templates__select-ehr-template-button">
    <mat-panel-title>
      <h3 id="select-header" class="accordion" fxLayoutGap="8px">
        <fa-icon [icon]="['far', 'check-circle']" *ngIf="project.templates.length"></fa-icon>
        <span>{{ 'SELECT_EHR_TEMPLATE' | translate }}*</span>
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section
    role="region"
    aria-labelledby="select-header"
    fxLayout="column"
    fxFlex="100%"
    fxLayoutGap="20px"
  >
    <div>
      {{ 'PROJECT.EHR_TEMPLATE_CONTENT' | translate }}
    </div>

    <num-add-templates
      [project]="project"
      [isDisabled]="isDisabled"
      data-test="project-editor__templates__add-template-table"
    ></num-add-templates>
  </section>
</mat-expansion-panel>
