<div id="select-title" class="mat-body-strong">
  {{ 'USER_MANAGEMENT.ASSIGN_ORGANIZATION' | translate }}
</div>
<mat-form-field appearance="fill" color="accent">
  <mat-label>{{ 'USER_MANAGEMENT.SELECT_ORGANIZATION' | translate }}</mat-label>
  <mat-select
    (selectionChange)="handleSelectClick()"
    [(value)]="organizationId"
    data-test="user-management__add-organization__selector"
  >
    <mat-option
      *ngFor="let organization of organizations | objectToArray"
      [value]="organization.id"
      [attr.data-test]="'user-management__add-organization__' + organization.name"
    >
      {{ organization.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
