.general-info {
  margin: 0 0 25px 0;

  td,
  th {
    vertical-align: top;
    text-align: left;
    padding: 0 5px 0 0;

    * {
      vertical-align: top;
    }
  }
}

.filter-area {
  margin: 0 0 24px 0;
}
