<h2>Cohorts</h2>
<p>Provide an id to execute a cohort definition</p>
<mat-divider class="num-d-w--1 num-d-c--a"></mat-divider>
<div fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label id="label">Input</mat-label>
    <input matInput aria-labelledby="label" type="number" [(ngModel)]="cohortId" />
  </mat-form-field>
  <num-button type="primary" (click)="checkCohortSize()">Execute</num-button>
</div>

<mat-divider class="num-d-w--1 num-d-c--a"></mat-divider>

<div *ngIf="cohortSize">
  <p>Here is your result:</p>
  <p>The size of the cohort: {{ cohortSize }}</p>
</div>

<p *ngIf="error">Please provide an id</p>
