<table mat-table [dataSource]="dataSource" matSort aria-labelledby="filter-table-header">
  @for (columnPath of columnPaths; track columnPath; let colIndex = $index) {
    <ng-container [matColumnDef]="columnKeys[colIndex]">
      <th scope="col" mat-header-cell *matHeaderCellDef>columnPath</th>
      @if (columnPath[0] !== 'select') {
        <td mat-cell *matCellDef="let element">{{ element | nestedAccess: columnPath }}</td>
      }
      @if (columnPath[0] === 'select') {
        <td mat-cell *matCellDef="let element; let i = index" class="right-align">
          @if (!(element[identifierName] | isSelected: lookupSelectedItems)) {
            <button
              color="accent"
              mat-icon-button
              (click)="handleSelectClick($event, element)"
              [attr.aria-label]="'BUTTON.SELECT' | translate"
              data-test="generic-filter-table__row__select-button"
            >
              <fa-icon icon="plus" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
          } @else {
            <button
              class="num-fc--d"
              mat-icon-button
              (click)="handleDeselectClick($event, element)"
              [attr.aria-label]="'BUTTON.DESELECT' | translate"
              data-test="generic-filter-table__row__deselect-button"
            >
              <fa-icon icon="check" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
          }
        </td>
      }
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columnKeys" hidden></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columnKeys; let i = index"
    (click)="handleRowClick(row)"
    [ngClass]="{ 'mat-row--active': idOfHighlightedRow === row[identifierName] }"
    [attr.data-test]="'generic-filter-table__row-' + i"
  ></tr>
</table>
