version: 2.1

workflows:
  version: 2
  build_and_test:
    jobs:
      - test:
          context: org-global
      - tag_version:
          requires:
            - test
          filters:
            branches:
              only:
                - /^(release\/v\d+\.\d+\.\d+|hotfix\/v\d+\.\d+\.\d+)$/
      - build_and_deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - /^(release\/v\d+\.\d+\.\d+|hotfix\/v\d+\.\d+\.\d+|master|develop)$/



jobs:
  test:
    docker:
      # - image: circleci/node:14.9.0-buster
      - image: cimg/node:14.9.0
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/project/node_modules
          override-ci-command: npm install
      - run:
          name: Run Linter
          command: npm run lint
      - run:
          name: Run unit tests
          command: npm run test-ci
          enviroment:
            NODE_OPTIONS: --max_old_space_size=4096
      - store_test_results:
          path: ./reports/junit/
      - run:
          name: Run CVE scan
          command: npm audit --audit-level=critical
      - sonarcloud/scan
  tag_version:
    docker:
      - image: cimg/node:14.9.0
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "ab:aa:49:91:bb:88:31:93:45:48:38:79:5e:60:53:9d"
      - run:
          name: Bump npm version
          command: |
            git config user.email "50235421+ehrbase-tech-user@users.noreply.github.com"
            git config user.name "ci-bot"
            VERSION_NUMBER="$(echo $CIRCLE_BRANCH | awk -F'/' '{print $2;}')"
            echo "Updating the application version from the branch to ${VERSION_NUMBER}"
            npm version $VERSION_NUMBER
            git push --set-upstream origin $CIRCLE_BRANCH
            git push origin --tags

  build_and_deploy:
    docker:
      - image: cimg/node:14.9.0
        auth:
          username: $DOCKER_USER
          password: $DOCKER_HUB_PASSWORD
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true
      - run:
          name: Build and tag image and push
          command: |
            if [ $CIRCLE_BRANCH = "master" ]; then
              TAG=$(node -p "require('./package.json').version")
            elif [ $CIRCLE_BRANCH = "develop" ]; then
              TAG=$CIRCLE_BRANCH
            else
              TAG="$(echo $CIRCLE_BRANCH | awk -F'/' '{print $2;}')-rc"
            fi
            docker build -t $DOCKER_USER/num-portal-webapp:$TAG .
            echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
            docker push $DOCKER_USER/num-portal-webapp:$TAG

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.2
  node: circleci/node@4.1.0
