<section
  role="region"
  aria-labelledby="creator-label"
  fxLayout="column"
  fxFlex="100%"
  fxLayoutGap="20px"
  class="num-margin-b-60"
>
  <h3>{{ 'BUILD_QUERY' | translate }}</h3>
  <mat-card>
    <mat-card-content fxLayout="column" fxFlex="100%">
      <p id="creator-label">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus.
      </p>
    </mat-card-content>
  </mat-card>
</section>
