@use '@angular/material' as mat;

@use 'colors/accent-theme.palette.scss';
@use 'colors/primary-theme.palette.scss';
@use 'colors/additional-theme.palette.scss';
@use 'theme-palettes/mat-light-theme-background';
@use 'theme-palettes/mat-light-theme-foreground';
@use 'typography/typography.config';

$num-portal-webapp-primary: mat.m2-define-palette(primary-theme.$num-primary-palette);
$num-portal-webapp-accent: mat.m2-define-palette(accent-theme.$num-accent-palette);
$num-portal-webapp-additional: mat.m2-define-palette(
  additional-theme.$num-additional-palette,
  error
);

$mat-light-theme-foreground: mat-light-theme-foreground.mat-light-theme-foreground(
  $num-portal-webapp-primary,
  $num-portal-webapp-accent,
  $num-portal-webapp-additional
);

$mat-light-theme-background: mat-light-theme-background.mat-light-theme-background(
  $num-portal-webapp-primary,
  $num-portal-webapp-accent,
  $num-portal-webapp-additional
);

@function num-theme-builder() {
  @return (
    primary: $num-portal-webapp-primary,
    accent: $num-portal-webapp-accent,
    warn: $num-portal-webapp-additional,
    additional: $num-portal-webapp-additional,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
    typography: typography.$num-typography,
    density: 0
  );
}

$num-portal-webapp-theme: num-theme-builder();
