$num-accent-color: #EB576A;

$num-primary-palette: (
    50 : #ffffff,
    100 : #efefef,
    200 : #d3d3d3,
    300 : #b0b0b0,
    400 : #a0a0a0,
    500 : #919191,
    600 : #828282,
    700 : #727272,
    800 : #636363,
    900 : #545454,
    A100 : #ffffff,
    A200 : #e8d3d3,
    A400 : #b79e9e,
    A700 : #a39999,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$num-accent-palette: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #f9cdd3,
    300 : #f28e9a,
    400 : #ee7282,
    500 : #eb576a,
    600 : #e83c52,
    700 : #e42039,
    800 : #ce1830,
    900 : #b21529,
    A100 : #ffffff,
    A200 : #ffdce0,
    A400 : #fb7a8b,
    A700 : #f26a7b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$num-warn-palette: (
    50 : #ffffff,
    100 : #fff0c4,
    200 : #ffe28c,
    300 : #ffd044,
    400 : #ffc926,
    500 : #ffc107,
    600 : #e7ae00,
    700 : #c99700,
    800 : #aa8000,
    900 : #8c6900,
    A100 : #ffffff,
    A200 : #ffe7a0,
    A400 : #ffce3a,
    A700 : #ffc720,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
