@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('/assets/font/roboto-light-300.woff2') format('woff2'),
    url('/assets/font/roboto-light-300.woff') format('woff'),
    url('/assets/font/roboto-light-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto Regular'), local('Roboto-Regular'),
    url('/assets/font/roboto-regular-400.woff2') format('woff2'),
    url('/assets/font/roboto-regular-400.woff') format('woff'),
    url('/assets/font/roboto-regular-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/assets/font/roboto-medium-500.woff2') format('woff2'),
    url('/assets/font/roboto-medium-500.woff') format('woff'),
    url('/assets/font/roboto-medium-500.ttf') format('truetype');
}
