@import '~@angular/material/theming';

@include mat-core();


@import './theme';
@import './custom-themes';


@include angular-material-theme($num-portal-webapp-theme);
@include custom-components-theme($num-portal-webapp-theme);


@import './custom-material';
@import './font';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}
