<section class="section">
  <p><strong>IMPRESSUM</strong></p>

  <div class="num-margin-b-20">
    <strong
      >Dies ist eine Testumgebung im Rahmen des Aufbaus von CODEX, in der keine Echtdaten
      verarbeitet werden. Näheres zum CODEX-Projekt finden sie hier:
    </strong>
    <a
      href="https://www.netzwerk-universitaetsmedizin.de/projekte/codex"
      target="_blank"
      rel="noopener"
      >https://www.netzwerk-universitaetsmedizin.de/projekte/codex</a
    >
  </div>
  <div class="num-margin-b-20">
    <strong>Projektträger</strong>
    <p>
      Netzwerk Universitätsmedizin (<a
        href="https://www.netzwerk-universitaetsmedizin.de"
        target="_blank"
        rel="noopener"
        >https://www.netzwerk-universitaetsmedizin.de</a
      >)
    </p>
  </div>
  <div class="num-margin-b-20">
    <strong>Gesamtprojektleitung</strong>
    <p>
      Ralf Heyder (Charité |
      <a
        href="https://www.charite.de/service/person/person/address_detail/heyder-6/"
        target="_blank"
        rel="noopener"
        >https://www.charite.de/service/person/person/address_detail/heyder-6/</a
      >)
      <br />
      Sebastian C. Semler (TMF e.V. |
      <a
        href="https://www.tmf-ev.de/Portals/0/Ansprechpartner/Semler.html"
        target="_blank"
        rel="noopener"
        >https://www.tmf-ev.de/Portals/0/Ansprechpartner/Semler.html</a
      >)
    </p>
  </div>

  <div class="num-margin-b-20">
    <p><strong>Kontakt</strong></p>
    <p>
      <em>Operativer Betrieb</em>
      <br />
      Rechenzentrum der GWDG
      <br />
      GWDG - Gesellschaft für wissenschaftliche
      <br />
      Datenverarbeitung mbH Göttingen
      <br />
      Am Fassberg 11, 37077 Göttingen
      <br />
      E-Mail: <a href="mailto:piotr.kasprzak@gwdg.de">piotr.kasprzak@gwdg.de</a>
      <br />
      www: <a href="https://www.gwdg.de" target="_blank" rel="noopener">https://www.gwdg.de</a>
    </p>
    <br />
    <p>
      <em>Administration Plattform</em>
      <br />
      Vitagroup AG
      <br />
      Gottlieb-Daimler-Straße 8
      <br />
      68165 Mannheim
      <br />
      E-Mail: <a href="mailto:jan.falkenstern@vitagroup.ag">jan.falkenstern@vitagroup.ag</a>
      <br />
      www:
      <a href="https://www.vitagroup.ag" target="_blank" rel="noopener">https://www.vitagroup.ag</a>
    </p>
  </div>

  <div class="num-margin-b-20">
    <p><strong>Datenschutzhinweis:</strong></p>
    <p>
      Es werden keine Echtdaten verarbeitet. Rechte zur Verarbeitung von Testdaten auf dieser
      Test-Plattform erlangen nur ausgewählte Mitarbeiter. Hinweise zum Datenschutz bei der
      Verarbeitung von Echtdaten werden ausführlich in der bereitzustellenden produktiven Version
      von CODEX dargelegt.
    </p>
  </div>

  <div class="num-margin-b-40">
    <p><strong>Disclaimer:</strong></p>
    <p>
      Dies ist eine Testumgebung, die zum Aufbau von CODEX dient. Jegliche dargestellte Information
      dient ausschließlich Testzwecken und haben keinen Anspruch auf Korrektheit, Vollständigkeit
      etc.
    </p>
    <p></p>
    <p>
      Die Verweise durch Hyperlinks auf Inhalte fremder Webseiten dienen lediglich der Information.
    </p>
    <p></p>
    <p>
      Die Verantwortlichkeit für diese fremden Inhalte liegt alleine bei dem Anbieter, der die
      Inhalte bereithält. Vor dem Einrichten des entsprechenden Verweises sind die Web-Seiten der
      anderen Anbieter mit großer Sorgfalt und nach bestem Wissen und Gewissen überprüft worden. Es
      kann jedoch keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen übernommen
      werden, die über weiterführende Hyperlinks erreicht werden. Der Inhalt der anderen Web-Seiten
      kann jederzeit ohne Wissen der Redaktion der MII-Website geändert werden.
    </p>
    <p></p>
    <p>
      Die Redaktion betont, dass sie keinen Einfluss auf die Gestaltung und die Inhalte der durch
      Link von dieser Website aus erreichbaren Seiten anderer Anbieter hat und dass die Redaktion
      sich deren Inhalte nicht zu eigen macht. Diese Erklärung gilt für alle Seiten dieser Homepage
      und die dort angebrachten Links.
    </p>
    <p></p>
    <p>
      Die Online-Redaktion dieser Website behält sich das Recht vor, ohne vorherige Ankündigung die
      bereitgestellten Informationen zu ändern, zu ergänzen oder zu entfernen.
    </p>
  </div>
</section>
