<section fxLayout="column">
  <h2>{{ 'AQL.CREATE_AQL' | translate }}</h2>
  <p class="num-margin-b-40">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus.
  </p>
  <num-aql-editor-general-info
    [form]="aqlForm"
    class="num-margin-b-40"
  ></num-aql-editor-general-info>

  <num-aql-editor-creator
    [(aqlQuery)]="aql.query"
    [isExecutionReady]="isEditMode && !isExecutionLoading"
    (execute)="execute()"
  ></num-aql-editor-creator>

  <mat-card *ngIf="executionResult" class="num-margin-b-40">
    <div class="mat-body-strong">Columns</div>
    <div class="num-margin-b-40">{{ executionResult.columns | json }}</div>

    <div class="mat-body-strong">Rows</div>
    <div>{{ executionResult.rows | json }}</div>
  </mat-card>

  <mat-card *ngIf="executionError" class="num-margin-b-40">{{
    executionError.error.errors | json
  }}</mat-card>

  <section role="region" fxLayout="column">
    <mat-divider class="num-d-w--1 num-margin-b-40"></mat-divider>
    <div role="presentation" fxLayout="row" fxLayoutAlign="space-between">
      <num-button type="secondary" (singleClick)="cancel()">{{
        'BUTTON.CANCEL' | translate
      }}</num-button>
      <div *ngIf="!isEditMode">
        <num-button type="primary" (singleClick)="save()" [isDisabled]="!aqlForm.valid">{{
          'BUTTON.SAVE_QUERY' | translate
        }}</num-button>
      </div>
      <div *ngIf="isEditMode" fxLayout="row" fxLayoutGap="10px" class="editmode-on">
        <num-button
          [type]="isCurrentUserOwner ? 'secondary' : 'primary'"
          (singleClick)="save()"
          [isDisabled]="!aqlForm.valid"
          >{{ 'BUTTON.SAVE_AS_CLONE' | translate }}</num-button
        >
        <num-button
          type="primary"
          (singleClick)="update()"
          *ngIf="isCurrentUserOwner"
          [isDisabled]="!aqlForm.valid"
          >{{ 'BUTTON.SAVE_QUERY' | translate }}</num-button
        >
      </div>
    </div>
  </section>
</section>
