dl {
  margin-block-start: 0;
  margin-block-end: 0;
}

dt {
  margin: 0 0 2px 0;
}

dd {
  margin-inline-start: 0;
  white-space: pre-wrap;

  &:not(:last-of-type) {
    margin: 0 0 24px 0;
  }
}

.num-display-chip {
  font-size: 14;
  display: inline-block;
  background-color: #f3f3f3;
  padding: 5px 14px;
  margin: 4px;
  border-radius: 20px;

  &:first-child {
    margin-left: 0;
  }
}
