<dl>
  @for (dataRow of dataSource; track dataRow; let rowIndex = $index) {
    <dt class="mat-body-strong">{{ dataRow.title | translate }}</dt>
    <dd>
      @if (!dataRow.type || dataRow?.type === definitionType.String) {
        {{ dataRow.description || '-' }}
      }
      @if (dataRow?.type === definitionType.Array) {
        @if (dataRow?.description?.length !== 0) {
          @for (chip of dataRow.description; track chip) {
            <span class="num-display-chip">{{
              dataRow.title !== 'FORM.CATEGORY' ? chip : ('PROJECT.CATEGORIES.' + chip | translate)
            }}</span>
          }
        } @else {
          <ng-container> - </ng-container>
        }
      }
      <!-- <ng-container *ngIf="dataRow?.type === definitionType.Table">
      <ng-container *ngIf="dataRow?.description?.length > 0; else emptyIterable">
        <num-attachments-table
          [attachments]="dataRow?.description"
          [isInPreview]="true"
          [project]="dataRow.extraOptions?.project"
          [showSelectColumn]="dataRow.extraOptions?.showAttachmentSelects"
        ></num-attachments-table>
      </ng-container>
    </ng-container> -->
      @if (dataRow?.type === definitionType.Date) {
        {{ dataRow.description | date: 'dd.MM.yyyy' || '-' }}
      }
      @if (dataRow?.type === definitionType.Boolean) {
        <div fxLayout="row" fxLayoutAlign="flex-start center">
          <fa-icon
            [icon]="dataRow.description ? 'check' : 'times'"
            size="lg"
            fixedWidth="true"
            [attr.aria-label]="dataRow.description"
          ></fa-icon>
          <p class="num-margin-b-0" data-test="definition_list__boolean__element__text">
            {{ dataRow.description ? ('FORM.YES' | translate) : ('FORM.NO' | translate) }}
          </p>
        </div>
      }
    </dd>
  }
</dl>
