:host {
  display: block;
}

#clipboard-button {
  transform: translateY(-2px);
}

.resolved {
  width: fit-content;
  background: var(--num-color--light-grey);
  padding: 8px 16px;
  border-radius: 4px;
}
