<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3 class="accordion">{{ 'SELECT_RESEARCHERS' | translate }}</h3>
  </mat-expansion-panel-header>

  <section
    role="region"
    aria-labelledby="general-info-label"
    fxLayout="column"
    fxFlex="100%"
    fxLayoutGap="20px"
  >
    <div>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.
    </div>

    <mat-card class="researchers-container mat-elevation-z2">
      <div class="no-results" *ngIf="studyResearchers.length === 0; else researchersList">
        {{ 'RESEARCHERS.NO_RESEARCHERS_SELECTED' | translate }}
      </div>
      <ng-template #researchersList>
        <ul class="researchers-list">
          <li
            class="researchers-list_item"
            *ngFor="let researcher of studyResearchers; last as last"
          >
            <div class="researchers-list_item-name">
              {{ researcher.firstName }} {{ researcher.lastName }}
            </div>
            <button
              mat-button
              color="primary"
              class="researchers-list_item-delete"
              (click)="deleteResearcher(researcher.id)"
            >
              <fa-icon icon="trash"></fa-icon>
            </button>
          </li>
        </ul>
      </ng-template>
    </mat-card>

    <num-button type="primary" icon="plus" (click)="addResearchers()">
      {{ 'BUTTON.ADD_RESEARCHERS' | translate }}
    </num-button>
  </section>
</mat-expansion-panel>
