.researchers-container {
  border: 1px solid black;

  table {
    width: 100%;

    .mat-column-icon {
      width: 25%;
      text-align: right;
    }
  }

  .no-results {
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
}
