:host {
  display: block;
  padding: 0 0 0 20px;
}

.aql:not(.aql--last),
.group:not(.group--last) {
  margin: 0 0 12px 0;
}

.button-row {
  margin: 25px 0 0 0;
}

.not-icon {
  font-size: 26px;
  vertical-align: text-bottom;
  margin: 0 10px 0 0;
}
