<div
  class="num-select-flag pointer"
  role="button"
  tabindex="0"
  aria-labelledby="section-heading"
  (keydown.enter)="setDestination()"
  (keydown.space)="setDestination()"
  (click)="setDestination()"
  [ngClass]="{ 'num-select-flag--active': isActive, 'num-select-flag--disabled': isDisabled }"
  data-test="cohort-builder__group__set-destination-button"
>
  <fa-icon icon="check"></fa-icon>
</div>
<div
  class="num-select-box cohort-group"
  fxLayout="column"
  [ngClass]="{ 'num-select-box--active': isActive }"
>
  <section role="toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <span class="mat-body-strong">
      @if (cohortGroup.isNegated) {
        <span class="not-icon">&not;</span>
      }
      {{ groupType | translate }} {{ groupIndex | groupIndex }}</span
    >

    <mat-form-field
      appearance="fill"
      class="num-operator-select"
      [style.visibility]="cohortGroup.children.length <= 1 ? 'hidden' : 'visible'"
    >
      <mat-select
        [attr.aria-label]="'LOGICAL_OPERATOR' | translate"
        [(value)]="cohortGroup.logicalOperator"
        [disabled]="cohortGroup.children.length <= 1 || isDisabled"
        data-test="cohort-builder__group__logical-operator__selector"
      >
        @for (operator of logicalOperatorArray; track operator) {
          <mat-option
            [value]="operator"
            [attr.data-test]="'cohort-builder__group__logical-operator__' + operator"
          >
            {{ operator }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <span fxFlex></span>

    <mat-slide-toggle
      labelPosition="before"
      [(ngModel)]="cohortGroup.isNegated"
      [disabled]="isDisabled"
      data-test="cohort-builder__group__negation-toggle"
      >Negation</mat-slide-toggle
    >
  </section>

  @for (child of cohortGroup.children; track child; let i = $index) {
    <section role="listitem">
      @if (child.type === connectorNodeType.Group) {
        <num-aql-connector-group
          role="list"
          class="group"
          [cohortGroup]="child"
          [parentGroupIndex]="groupIndex"
          [index]="i"
          [isDisabled]="isDisabled"
          [ngClass]="{
            'group--last': i === cohortGroup.children.length - 1,
          }"
          (delete)="deleteChildGroup($event, i)"
          data-test="cohort-builder__group"
        ></num-aql-connector-group>
      }
      @if (child.type === connectorNodeType.Aql) {
        <num-aql-connector-item
          class="aql mat-elevation-z2"
          [ngClass]="{
            'aql--last': i === cohortGroup.children.length - 1,
            configured: $any(child).areParameterConfigured,
          }"
          [aql]="child"
          [isDisabled]="isDisabled"
          (deleteItem)="deleteChildItem(i)"
          role="listitem"
          fxLayout="row"
          fxLayoutAlign="space-between start"
          data-test="cohort-builder__aql"
        ></num-aql-connector-item>
      }
    </section>
  }

  @if (!isDisabled) {
    <section role="presentation" class="button-row" fxLayoutGap="20px" fxLayout="row wrap">
      <num-button
        [isDisabled]="isDisabled"
        type="secondary"
        icon="plus"
        (singleClick)="addGroup()"
        data-test="cohort-builder__group__add-group-button"
        >{{ 'BUTTON.ADD_GROUP' | translate }}</num-button
      >
      <span fxFlex></span>
      @if (groupType === connectorGroupType.Sub) {
        <num-button
          [isDisabled]="isDisabled"
          type="basic"
          (singleClick)="deleteSelf()"
          data-test="cohort-builder__group__delete-group-button"
          >{{ 'BUTTON.DELETE_GROUP' | translate }}</num-button
        >
      }
    </section>
  }
</div>
