<section
  role="hits"
  class="determine-hits"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
>
  <div class="determine-hits_title">
    {{ 'HITS' | translate }}
  </div>

  <div class="determine-hits_count">
    {{ content?.count }}
  </div>

  <num-button
    type="secondary"
    (singleClick)="determineHits()"
    [isDisabled]="isButtonDisabled || content?.isLoading"
    data-test="generic-determine-hits__determine-button"
  >
    {{ 'BUTTON.DETERMINE' | translate }}
  </num-button>

  <mat-spinner *ngIf="content?.isLoading" color="accent" [diameter]="24"></mat-spinner>

  <div
    *ngIf="!content?.isLoading"
    data-test="generic-determine-hits__error-message"
    aria-live="polite"
  >
    <ng-container *ngIf="isButtonDisabled">{{ content?.defaultMessage | translate }}</ng-container>
    <ng-container
      *ngIf="!isButtonDisabled && isCohortValid?.valid === true && isCohortValid?.hasAql === true"
      >{{ content?.message | translate }}</ng-container
    >
    <mat-hint class="parameter-error" *ngIf="isCohortValid?.hasAql === false">
      <fa-icon [fixedWidth]="true" class="num-fc--w" icon="exclamation-circle"></fa-icon>
      {{ 'PROJECT.HITS.MESSAGE_NO_AQL' | translate }}</mat-hint
    >
    <mat-hint
      class="parameter-error"
      *ngIf="isCohortValid?.valid === false && isCohortValid?.hasAql === true"
    >
      <fa-icon [fixedWidth]="true" class="num-fc--w" icon="exclamation-circle"></fa-icon>
      {{ 'PROJECT.HITS.MESSAGE_INVALID_AQL' | translate }}</mat-hint
    >
  </div>
</section>
