<section
  role="hits"
  class="determine-hits"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
>
  <div class="determine-hits_title">
    {{ 'HITS' | translate }}
  </div>

  <div class="determine-hits_count">
    {{ content?.count }}
  </div>

  <num-button
    type="secondary"
    (singleClick)="determineHits()"
    [isDisabled]="isButtonDisabled || content?.isLoading"
    data-test="generic-determine-hits__determine-button"
  >
    {{ 'BUTTON.DETERMINE' | translate }}
  </num-button>

  @if (content?.isLoading) {
    <mat-spinner color="accent" [diameter]="24"></mat-spinner>
  }

  @if (!content?.isLoading) {
    <div data-test="generic-determine-hits__error-message" aria-live="polite">
      @if (isButtonDisabled) {
        {{ content?.defaultMessage | translate }}
      }
      @if (!isButtonDisabled && isCohortValid?.valid === true && isCohortValid?.hasAql === true) {
        {{ content?.message | translate }}
      }
      @if (isCohortValid?.hasAql === false) {
        <mat-hint class="parameter-error">
          <fa-icon [fixedWidth]="true" class="num-fc--w" icon="exclamation-circle"></fa-icon>
          {{ 'PROJECT.HITS.MESSAGE_NO_AQL' | translate }}</mat-hint
        >
      }
      @if (isCohortValid?.valid === false && isCohortValid?.hasAql === true) {
        <mat-hint class="parameter-error">
          <fa-icon [fixedWidth]="true" class="num-fc--w" icon="exclamation-circle"></fa-icon>
          {{ 'PROJECT.HITS.MESSAGE_INVALID_AQL' | translate }}</mat-hint
        >
      }
    </div>
  }
</section>
