:host {
  height: 55px;
  border-left: 8px solid grey;
  padding: 0 15px;

  &.configured {
    border-left: 8px solid #10603c;
  }
}

.not-icon {
  font-size: 26px;
  vertical-align: text-bottom;
  margin: 0 10px 0 0;
}
