@mixin buttons($theme) {
  $raised-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  .mat-mdc-icon-button.mat-button-disabled.mat-button-disabled {
    color: mat-color($additional, light-grey);
  }

  .mat-mdc-button-base {
    text-transform: uppercase !important;
  }

  .num-button {
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    &.mat-mdc-button .mat-button-wrapper > *,
    &.mat-mdc-outlined-button .mat-button-wrapper > *,
    &.mat-mdc-raised-button .mat-button-wrapper > *,
    &.mat-mdc-unelevated-button .mat-button-wrapper > * {
      vertical-align: baseline !important;
    }

    fa-icon {
      margin: 0 4px 0 0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    &.cdk-keyboard-focused .mat-button-focus-overlay {
      display: none;
    }

    // Primaray Button
    &.mat-mdc-unelevated-button.mat-primary {
      line-height: 34px;
      border-width: 1px;
      border-style: solid;
      border-color: mat-color($primary, 500);
      fa-icon {
        color: mat-color($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.mat-button-disabled) {
        background: mat-color($primary, 700);
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat-color($primary, 700);
        border-color: mat-color($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-disabled {
        background: mat-color($primary, 100);
        border-color: mat-color($primary, 100);
        fa-icon {
          color: mat-color($accent, 200);
        }
      }
    }

    // Secondary Button
    &.mat-mdc-outlined-button.mat-primary {
      border-color: mat-color($primary, 500);

      fa-icon {
        color: mat-color($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.mat-button-disabled) {
        background: mat-color($accent, 100);
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat-color($accent, 200);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-disabled {
        fa-icon {
          color: mat-color($accent, 200);
        }
        color: mat-color($additional, light-grey);
        border-color: mat-color($primary, 100);
      }
    }

    // Basic Button
    &.mat-mdc-button.mat-primary {
      color: mat-color($additional, mid-grey);

      fa-icon {
        color: mat-color($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.mat-button-disabled) {
        background: mat-color($accent, 100);
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat-color($accent, 200);
        border-color: mat-color($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-disabled {
        fa-icon {
          color: mat-color($accent, 200);
        }
        color: mat-color($additional, mid-grey);
      }
    }
  }
}
