@use '@angular/material' as mat;

@mixin color-classes_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);
  $warn: map-get($theme, warn);

  .num-fg-color,
  .num-fc {
    &--primary,
    &--p {
      color: mat.get-color-from-palette($primary);
    }
    &--accent,
    &--a {
      color: mat.get-color-from-palette($accent);
    }
    &--warn,
    &--w {
      color: mat.get-color-from-palette($warn, warning);
    }
    &--success,
    &--s {
      color: mat.get-color-from-palette($additional, success);
    }
    &--disabled,
    &--d {
      color: mat.get-color-from-palette($additional, mid-grey);
    }
  }

  .num-bg-color,
  .num-bc {
    &--primary,
    &--p {
      background: mat.get-color-from-palette($primary);
    }
    &--accent,
    &--a {
      background: mat.get-color-from-palette($accent);
    }
    &--warn,
    &--w {
      background: mat.get-color-from-palette($warn);
    }
    &--disabled,
    &--d {
      background: mat.get-color-from-palette($additional, mid-grey);
    }
  }
}
