@mixin color-classes_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);
  $warn: map-get($theme, warn);

  .num-fg-color,
  .num-fc {
    &--primary,
    &--p {
      color: mat-color($primary);
    }
    &--accent,
    &--a {
      color: mat-color($accent);
    }
    &--warn,
    &--w {
      color: mat-color($warn);
    }
    &--success,
    &--s {
      color: mat-color($additional, success);
    }
    &--disabled,
    &--d {
      color: mat-color($additional, mid-grey);
    }
  }

  .num-bg-color,
  .num-bc {
    &--primary,
    &--p {
      background: mat-color($primary);
    }
    &--accent,
    &--a {
      background: mat-color($accent);
    }
    &--warn,
    &--w {
      background: mat-color($warn);
    }
    &--disabled,
    &--d {
      color: mat-color($additional, mid-grey);
    }
  }
}
