@mixin color-variables_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $additional: map-get($theme, additional);

  :root {
    --num-color--primary: #{mat-color($primary)};
    --num-color--accent: #{mat-color($accent)};
    --num-color--warn: #{mat-color($warn)};
    --num-color--success: #{mat-color($additional, success)};
    --num-color--light-grey: #{mat-color($additional, light-grey)};
    --num-color--mid-grey: #{mat-color($additional, mid-grey)};
    --num-color--dark-grey: #{mat-color($additional, dark-grey)};
  }
}
