@use '@angular/material' as mat;
@include mat.core();

@mixin footer_themed($theme) {
  $primary: map-get($theme, primary);

  .num-footer {
    background: mat.get-color-from-palette($primary, 900);
    color: mat.get-contrast-color-from-palette($primary, 900);
  }
}
