@mixin general_table_themed($theme) {
  $accent: map-get($theme, accent);

  .mat-row {
    &--active,
    &--selected {
      background: mat-color($accent, 50);
    }

    &:hover {
      background: mat-color($accent, 100) !important;
    }

    &:focus {
      background: mat-color($accent, 200) !important;
    }
  }
}
