@use '@angular/material' as mat;

@mixin general_select_themed($theme) {
  $accent: map-get($theme, accent);

  .mat-mdc-option {
    &--active,
    &--selected {
      background: mat.get-color-from-palette($accent, 50);
    }

    &:hover {
      background: mat.get-color-from-palette($accent, 100) !important;
    }

    &:focus {
      background: mat.get-color-from-palette($accent, 200) !important;
    }
  }
}
