@use '@angular/material' as mat;

@mixin language-component_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);

  .num-mat-lang-toggle-button {
    border: none;
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-toggle {
      background-color: transparent;

      button {
        text-transform: uppercase !important;
        font-size: 14px !important;
        line-height: 16px !important;
        font-weight: 400 !important;

        &:hover {
          background: mat.get-color-from-palette($accent, 100);
        }

        &:focus,
        .cdk-keyboard-focused & {
          background: mat.get-color-from-palette($accent, 200);
        }
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-toggle-appearance-standard {
      color: mat.get-color-from-palette($additional, mid-grey);
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
      &.mat-button-toggle-checked {
        color: mat.get-color-from-palette($primary);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
      &.mat-button-toggle + .mat-button-toggle {
        border-left: solid 2px mat.get-color-from-palette($accent);
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .cdk-keyboard-focused .mat-button-toggle-focus-overlay {
      display: none;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-toggle-label-content {
      line-height: 32px;
    }
  }
}
