@use 'sass:map';
@use '@angular/material' as mat;

@mixin mat-sidenav_themed($theme) {
  $additional: map.get($theme, additional);

  @include mat.sidenav-overrides(
    (
      content-background-color: mat.m2-get-color-from-palette($additional, page-background),
      container-divider-color: mat.m2-get-color-from-palette($additional, lighter-grey),
      container-background-color: mat.m2-get-color-from-palette($additional, white),
    )
  );
}
