@use 'sass:map';
@use '@angular/material' as mat;

@mixin mat-chip_themed($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $additional: map.get($theme, additional);

  @include mat.chips-overrides(
    (
      elevated-container-color: mat.m2-get-color-from-palette($additional, lighter-grey),
      elevated-selected-container-color: mat.m2-get-color-from-palette($primary, 500),
      selected-label-text-color: mat.m2-get-color-from-palette($primary, 500-contrast),
      with-icon-selected-icon-color: mat.m2-get-color-from-palette($accent, 500),
    )
  );
}
