@use '@angular/material' as mat;

@mixin mat-chip_themed($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $additional: map-get($theme, additional);

  .mat-mdc-chip.mat-mdc-standard-chip {
    font-size: 14px;
    background: mat.get-color-from-palette($additional, light-grey) !important;

    &.mat-mdc-chip-selected.mat-primary,
    &.chip-primary {
      background: mat.get-color-from-palette($primary, 500) !important;
      color: mat.get-contrast-color-from-palette($primary, 500);

      fa-icon {
        color: mat.get-color-from-palette($accent, 500);
      }
    }
  }
}
