@use 'sass:map';
@use '@angular/material' as mat;

@mixin mat-list_themed($theme) {
  $accent: map.get($theme, accent);

  num-side-menu {
    .mat-mdc-list-base {
      padding-top: 0 !important;
    }
  }
  .mdc-list-item__primary-text {
    --mdc-list-list-item-label-text-size: 16px;
    --mdc-list-list-item-label-text-line-height: 20px;
    --mdc-list-list-item-label-text-tracking: 0.25px;
  }

  .num-mat-list-item {
    --mdc-list-list-item-label-text-size: 16px;
    --mdc-list-list-item-label-text-weight: 400;
    --mdc-list-list-item-label-text-line-height: 20px;
    --mdc-list-list-item-label-text-tracking: 0.25px;

    &--active {
      background: mat.m2-get-color-from-palette($accent, 50);
      --mdc-list-list-item-label-text-weight: 500;

      fa-icon {
        color: mat.m2-get-color-from-palette($accent);
      }
    }

    &:hover {
      background: mat.m2-get-color-from-palette($accent, 100) !important;
    }

    &:focus {
      background: mat.m2-get-color-from-palette($accent, 200) !important;
    }

    &.navbar-logo {
      height: auto !important;
    }
  }
}
