@use '@angular/material' as mat;

@mixin select-destination_themed($theme) {
  $accent: map-get($theme, accent);
  $additional: map-get($theme, additional);

  $width: 20px;
  $height: 40px;

  .num-select-flag {
    width: $width;
    height: $height;
    background: mat.get-color-from-palette($additional, light-grey);
    float: left;
    margin-left: -$width;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    text-align: center;
    line-height: $height;
    font-size: 14px;

    &:focus {
      outline: solid 2px mat.get-color-from-palette($accent, 500);
    }

    &--active,
    &:active {
      outline: none !important;
      background: mat.get-color-from-palette($accent, 500);
    }

    &--disabled {
      display: none;
    }
  }

  .num-select-box {
    outline-offset: -1px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: mat.get-color-from-palette($additional, light-grey);
    padding: 20px;
    width: 100%;
    min-height: 200px;

    &.cohort-group {
      min-height: 100px;
      padding: 0 20px 20px 20px;
    }

    &.contains {
      outline-color: mat.get-color-from-palette($additional, mid-grey);
    }

    &--active {
      outline-color: mat.get-color-from-palette($accent, 500);
      outline-width: 2px;
      outline-offset: -2px;
    }
  }
}
