@mixin side-menu-component_themed($theme) {
  $accent: map-get($theme, accent);

  .num-mat-list-item {
    &--active {
      background: rgba($color: mat-color($accent), $alpha: 0.2);

      fa-icon {
        color: mat-color($accent);
      }
    }

    &:hover,
    &:focus {
      background: rgba($color: mat-color($accent), $alpha: 0.3) !important;
    }
  }
}
