@use '@angular/material' as mat;

@mixin table_responsive_themed($theme) {
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
    overflow-x: auto;
    .mat-mdc-table {
      width: 100%;
      max-width: 100%;
      display: table;
      border-collapse: collapse;
    }
    .mat-mdc-row,
    .mat-mdc-header-row {
      display: table-row;
    }
    .mat-mdc-cell,
    .mat-mdc-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
  }
}
