<h3>{{ 'STUDY.APPROVAL_INFORMATION' | translate }}</h3>

<mat-card class="mat-elevation-z4">
  <p id="approval-info">{{ 'STUDY.APPROVAL_HINT' | translate }}</p>
  <h4>{{ 'PLEASE_CHOOSE' | translate }}...*</h4>
  <form [formGroup]="form">
    <mat-radio-group
      aria-labelledby="approval-info"
      fxLayout="column"
      fxLayoutGap="10px"
      formControlName="decision"
    >
      <mat-radio-button *ngFor="let approvalOption of approvalOptions" [value]="approvalOption">
        {{ 'STUDY.REVIEW.' + approvalOption | translate }}</mat-radio-button
      >
    </mat-radio-group>
  </form>
</mat-card>
