:host {
  padding: 0 15px 8px 15px;
}

.input,
.right-panel {
  padding: 9px 0 0 0;
}

.right-panel {
  margin-left: 8px;
}

.name-field {
  padding: 10.5px 0 8.5px 0;
}

.operator-select {
  width: 150px;
}

.parameter-select {
  width: 150px;
}

.datepicker {
  width: 140px;
}

.value-input {
  width: 150px;
}
