<section fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center">
  <div class="name-field mat-body-strong" data-test="aqb__where__item__name">
    {{ item.name | archetype: true }}
  </div>

  <mat-form-field appearance="outline" class="input num-tiny-input operator-select">
    <mat-label>{{ 'LOGICAL_OPERATOR' | translate }}</mat-label>
    <mat-select
      [attr.aria-label]="'LOGICAL_OPERATOR' | translate"
      [(value)]="item.comparisonOperator"
      data-test="aqb__where__item__logical-operator__selector"
    >
      <mat-option
        *ngFor="let operator of item.comparisonOperatorOptions"
        [value]="operator.value"
        [attr.data-test]="'aqb__where__item__logical-operator__' + operator.value"
      >
        {{ operator.sign }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container [formGroup]="parameterForm">
    <mat-form-field
      floatLabel="always"
      appearance="outline"
      class="input num-tiny-input value-input"
      *ngIf="item.isParameterType"
    >
      <mat-label id="label">{{ 'PARAMETER_NAME' | translate }}</mat-label>
      <input
        [attr.aria-label]="'PARAMETER_NAME' | translate"
        type="text"
        matInput
        formControlName="value"
        data-test="aqb__where__item__parameter-name-input"
      />
    </mat-form-field>
  </ng-container>

  <num-aql-parameter-inputs
    *ngIf="!item.isParameterType"
    [item]="item"
    mode="aqb"
  ></num-aql-parameter-inputs>
</section>

<section class="right-panel" fxLayoutGap="10px" fxLayoutAlign="end center">
  <mat-form-field
    appearance="outline"
    class="num-tiny-input parameter-select"
    *ngIf="dialogMode === aqlBuilderDialogMode.Criteria"
  >
    <mat-label>{{ 'PARAMETER' | translate }}</mat-label>
    <mat-select
      [attr.aria-label]="'PARAMETER' | translate"
      [(value)]="item.isParameterType"
      data-test="aqb__where__item__is-parameter__selector"
    >
      <mat-option
        *ngFor="let parameter of item.parameterTypeOptions"
        [value]="parameter.value"
        [attr.data-test]="'aqb__where__item__is-parameter__' + parameter.value"
      >
        {{ parameter.text | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    color="primary"
    mat-icon-button
    (click)="deleteSelf()"
    [attr.aria-label]="'BUTTON.DELETE' | translate"
    data-test="aqb__where__item__delete-button"
  >
    <fa-icon icon="trash" size="lg" [fixedWidth]="true"></fa-icon>
  </button>
</section>
