$num-accent-palette: (
  50: #fdeced,
  100: #fcdee0,
  200: #f6bbc2,
  300: #f18a97,
  400: #ee7180,
  500: #eb586a,
  600: #e54757,
  700: #e54757,
  800: #e23d4d,
  900: #e23d4d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #232323,
    400: #000000,
    500: #232323,
    600: #232323,
    700: #232323,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
