$num-accent-palette: (
  50: #fdebed,
  100: #f9cdd2,
  200: #f5acb5,
  300: #f18a97,
  400: #ee7180,
  500: #eb586a,
  600: #e95062,
  700: #e54757,
  800: #e23d4d,
  900: #dd2d3c,
  A100: #ffffff,
  A200: #ffebec,
  A400: #ffb8bd,
  A700: #ff9ea5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
