$num-primary-palette: (
  50: #e3d4d8,
  100: #cfb6bd,
  200: #af8691,
  300: #8f5664,
  400: #773143,
  500: #5f0d22,
  600: #570b1e,
  700: #4d0919,
  800: #141111,
  900: #141111,
  A100: #eb586a,
  A200: #eb586a,
  A400: #eb586a,
  A700: #eb586a,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #232323,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
