$num-primary-palette: (
  50: #e2e2e2,
  100: #b8b8b8,
  200: #888888,
  300: #585858,
  400: #353535,
  500: #111111,
  600: #0f0f0f,
  700: #0c0c0c,
  800: #0a0a0a,
  900: #000000,
  A100: #eb576a,
  A200: #e94f62,
  A400: #e54657,
  A700: #dd2c3c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #aeaeae,
    600: #aeaeae,
    700: #aeaeae,
    800: #aeaeae,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
