$num-warn-palette: (
  50: #fdf3eb,
  100: #f9e0cd,
  200: #f5ccac,
  300: #f1b88a,
  400: #eea871,
  500: #eb9958,
  600: #e99150,
  700: #e58647,
  800: #e27c3d,
  900: #dd6b2d,
  A100: #ffffff,
  A200: #fff1eb,
  A400: #ffcfb8,
  A700: #ffbe9e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
