<mat-nav-list fxLayout="column" fxFill fxFlex="225px">
  <a class="navbar-item" routerLink="/home">
    <img src="assets/logo.svg" alt="app-logo" />
  </a>

  <ng-template ngFor let-item [ngForOf]="mainNavItems">
    <a
      *numUserHasRole="item.roles"
      class="num-mat-list-item"
      [routerLinkActive]="'num-mat-list-item--active'"
      mat-list-item
      [routerLink]="item.routeTo"
      (click)="menuItemClicked($event, item)"
    >
      <fa-icon size="lg" [fixedWidth]="true" [icon]="item.icon"></fa-icon>
      <div>{{ item.translationKey | translate }}</div>
    </a>
  </ng-template>

  <span fxFlex></span>
  <mat-divider class="num-d-c--a num-d-w--2"></mat-divider>

  <a
    class="num-mat-list-item"
    [routerLinkActive]="'num-mat-list-item--active'"
    *ngFor="let item of secondaryNavItems"
    mat-list-item
    [routerLink]="item.routeTo"
    (click)="menuItemClicked($event, item)"
  >
    <fa-icon size="lg" [fixedWidth]="true" [icon]="item.icon" routerLinkActive="active"></fa-icon>
    <div>{{ item.translationKey | translate }}</div>
  </a>
</mat-nav-list>
