fa-icon {
  margin-right: 1.3em;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding: 10px 10px 10px 0;
  }
}
.num-mat-list-item--active {
  background: #fdeced;
}
