<div id="select-title" class="mat-body-strong">{{ 'ASSIGN_ROLES' | translate }}</div>
<table mat-table [dataSource]="dataSource" aria-labelledby="select-title">
  <ng-container matColumnDef="role">
    <th scope="col" mat-header-cell *matHeaderCellDef>role</th>
    <td mat-cell *matCellDef="let element">
      {{ element | translate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th scope="col" mat-header-cell *matHeaderCellDef>icon</th>
    <td mat-cell *matCellDef="let element">
      <fa-icon
        role="button"
        [attr.aria-label]="'BUTTON.SELECT' | translate"
        icon="plus"
        class="num-fc--a pointer"
        size="lg"
        [fixedWidth]="true"
        *ngIf="!lookupSelectedRole[element]; else selectedIcon"
        (click)="handleSelectClick(element)"
      ></fa-icon>
      <ng-template #selectedIcon>
        <fa-icon
          role="button"
          [attr.aria-label]="'BUTTON.DESELECT' | translate"
          icon="check"
          class="num-fc--d pointer"
          size="lg"
          [fixedWidth]="true"
          (click)="handleDeselectClick(element)"
        ></fa-icon>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" hidden></tr>
  <tr class="num-mat-table-row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
