<h3 id="projects-header">{{ 'AVAILABLE_PROJECTS' | translate }}</h3>

<div role="presentation" class="mat-elevation-z1 num-margin-b-60">
  <table
    aria-labelledby="projects-header"
    mat-table
    [dataSource]="dataSource"
    fixedLayout
    matSort
    matSortActive="id"
    matSortDirection="desc"
    (matSortChange)="handleSortChangeTable($event)"
    data-test="data-explorer-projects__table"
  >
    <ng-container matColumnDef="icon">
      <th scope="col" mat-header-cell *matHeaderCellDef class="width-sm">
        {{ 'FORM.ACTION' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          color="accent"
          mat-icon-button
          [attr.aria-label]="'BUTTON.SELECT' | translate"
          (click)="handleSelectClick(element.id)"
          data-test="data-explorer-projects__table__select-button"
        >
          <fa-icon icon="external-link-alt" size="lg" [fixedWidth]="true"></fa-icon>
        </button>
      </td>
    </ng-container>

    <!-- ID column is only for default sorting and will not be displayed -->
    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td
        mat-cell
        *matCellDef="let element"
        data-test="data-explorer-projects__table-data__project-id"
      >
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'FORM.TITLE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'FORM.AUTHOR' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.coordinator?.firstName }} {{ element.coordinator?.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'USER.ORGANIZATION' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.coordinator?.organization?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'DATE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.createDate | localizedDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSizeOptions]="[5, 10, 20, 40]"
    (page)="onPageChange($event)"
    [pageSize]="pageSize"
    showFirstLastButtons
  ></mat-paginator>
</div>
