<section
  [ngClass]="{ 'num-large-dialog': dialogConfig.dialogSize === DialogSize.Large }"
  fxLayout="column"
>
  <section role="presentation" fxLayout="row" fxLayoutAlign="space-between start">
    <h1
      class="mat-headline-4"
      mat-dialog-title
      [ngClass]="{ 'decision-dialog': dialogConfig.isDecision }"
    >
      {{ dialogConfig.title | translate }}
    </h1>
    @if (dialogConfig.hasCloseIcon) {
      <fa-icon
        role="button"
        [attr.aria-label]="'BUTTON.CANCEL' | translate"
        class="pointer close-icon"
        icon="times"
        (click)="handleDialogClose()"
        [fixedWidth]="true"
      ></fa-icon>
    }
  </section>

  <mat-dialog-content>
    <ng-template #dialogContent></ng-template>
  </mat-dialog-content>

  @if (!dialogConfig.hideGenericButtons) {
    <div
      mat-dialog-actions
      fxFlexOffset="auto"
      [fxLayoutAlign]="
        !dialogConfig.cancelButtonText || !dialogConfig.confirmButtonText
          ? 'center'
          : 'space-between'
      "
      class="button-row"
    >
      @if (dialogConfig.cancelButtonText) {
        <num-button type="secondary" (singleClick)="handleDialogCancel()">{{
          dialogConfig.cancelButtonText | translate
        }}</num-button>
      }
      @if (dialogConfig.confirmButtonText) {
        <num-button type="primary" (singleClick)="handleDialogConfirm()">{{
          dialogConfig.confirmButtonText | translate
        }}</num-button>
      }
    </div>
  }
</section>
