.button-row {
  min-height: 80px;
  padding: 16px 0 28px 0;
}

.close-icon {
  font-size: 26px;
}

.num-large-dialog {
  height: 100%;

  .mat-mdc-dialog-content {
    max-height: unset;
    overflow: visible;
  }
}
