<section
  role="region"
  aria-labelledby="general-info-label"
  fxLayout="column"
  fxFlex="100%"
  fxLayoutGap="20px"
>
  <h3>{{ 'FORM.GENERAL_INFO' | translate }}</h3>

  <mat-card>
    <mat-card-content fxLayout="column" fxFlex="100%">
      <p id="general-info-label">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus.
      </p>

      <form fxLayout="column" [formGroup]="form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label id="title-label">{{ 'FORM.TITLE' | translate }}</mat-label>
          <input
            formControlName="title"
            matInput
            placeholder="Title"
            aria-labelledby="title-label"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
          <mat-label id="desc-label">{{ 'FORM.DESCRIPTION' | translate }}</mat-label>
          <textarea
            formControlName="description"
            #textarea
            matInput
            style="resize: none"
            aria-labelledby="desc-label"
            maxlength="1000"
            rows="10"
          ></textarea>
          <mat-hint
            >{{ textarea.value?.length || 0 }}/1000 {{ 'FORM.CHARACTERS' | translate }}</mat-hint
          >
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</section>
