<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header data-test="studies-editor__general-info__general-info-button">
    <h3 class="accordion">
      <fa-icon icon="['far', 'check-circle']" *ngIf="form.valid"></fa-icon
      >{{ 'FORM.GENERAL_INFO' | translate }}*
    </h3>
  </mat-expansion-panel-header>

  <section
    role="region"
    aria-labelledby="general-info-label"
    fxLayout="column"
    fxFlex="100%"
    fxLayoutGap="20px"
  >
    <p id="general-info-label">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.
    </p>

    <num-definition-list [dataSource]="generalInfoData" *ngIf="isDisabled"></num-definition-list>

    <form fxLayout="column" [formGroup]="form" *ngIf="!isDisabled">
      <mat-form-field appearance="outline" color="accent">
        <mat-label id="title-label">{{ 'FORM.TITLE' | translate }}*</mat-label>
        <input
          formControlName="title"
          matInput
          placeholder="Title"
          aria-labelledby="title-label"
          data-test="study-editor__general-info__title-input"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label id="desc-label">{{ 'FORM.DESCRIPTION' | translate }}*</mat-label>
        <textarea
          formControlName="description"
          #textarea
          matInput
          style="resize: none"
          aria-labelledby="desc-label"
          rows="10"
          data-test="study-editor__general-info__description-input"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label id="goal-label">{{ 'FORM.GOAL' | translate }}*</mat-label>

        <textarea
          formControlName="goal"
          #textarea
          matInput
          style="resize: none"
          aria-labelledby="goal-label"
          rows="10"
          data-test="study-editor__general-info__goal-input"
        ></textarea>
      </mat-form-field>

      <section role="presentation" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline" color="accent" fxFlex="50%">
          <mat-label id="label-firstHypotheses"
            >{{ 'FORM.FIRST_HYPOTHESES' | translate }}*</mat-label
          >
          <textarea
            formControlName="firstHypotheses"
            #textarea
            matInput
            style="resize: none"
            aria-labelledby="label-firstHypotheses"
            rows="10"
            data-test="study-editor__general-info__first-hypotheses-input"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" fxFlex="50%">
          <mat-label id="label-secondHypotheses">{{
            'FORM.SECOND_HYPOTHESES' | translate
          }}</mat-label>
          <textarea
            formControlName="secondHypotheses"
            #textarea
            matInput
            style="resize: none"
            aria-labelledby="label-secondHypotheses"
            rows="10"
            data-test="study-editor__general-info__second-hypotheses-input"
          ></textarea>
        </mat-form-field>
      </section>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'FORM.KEYWORDS' | translate }}</mat-label>
        <mat-chip-list
          #keywordsChipList
          aria-label="Keywords selection"
          data-test="study-editor__general-info__keywords-chip-list"
        >
          <mat-chip
            *ngFor="let keyword of keywords"
            (removed)="removeKeyword(keyword)"
            data-test="study-editor__general-info__keywords-chip-item"
          >
            <span>{{ keyword }}</span>
            <fa-icon
              icon="times-circle"
              class="chip__remove-icon"
              data-test="study-editor__general-info__keywords-remove-keyword-button"
              matChipRemove
            ></fa-icon>
          </mat-chip>
          <input
            placeholder="{{ 'FORM.ENTER_KEYWORD' | translate }}"
            [matChipInputFor]="keywordsChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            matChipInputAddOnBlur
            (matChipInputTokenEnd)="addKeyword($event)"
            autocomplete="off"
            data-test="study-editor__general-info__keywords-input"
          />
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'FORM.CATEGORY' | translate }}</mat-label>
        <mat-chip-list
          #categoryChipList
          aria-label="Category selection"
          data-test="study-editor__general-info__categories-chip-list"
        >
          <mat-chip
            *ngFor="let category of categories"
            (removed)="removeCategory(category)"
            [value]="category"
            [attr.data-test]="'study-editor__general-info__categories-chip_' + category"
          >
            <span>{{ 'STUDY.CATEGORIES.' + category | translate }}</span>
            <fa-icon
              icon="times-circle"
              class="chip__remove-icon"
              data-test="study-editor__general-info__categories-remove-category-button"
              matChipRemove
            ></fa-icon>
          </mat-chip>
          <input
            #categoryInput
            placeholder="{{ 'FORM.SELECT_CATEGORY' | translate }}"
            [formControl]="categoryCtrl"
            [matAutocomplete]="categoryAutocomplete"
            #trigger="matAutocompleteTrigger"
            [matChipInputFor]="categoryChipList"
            matChipInputAddOnBlur
            (focus)="openCategoryAutocomplete()"
            data-test="study-editor__general-info__categories-input"
          />
        </mat-chip-list>
        <mat-autocomplete
          #categoryAutocomplete="matAutocomplete"
          (optionSelected)="addCategory($event, trigger)"
          autoActiveFirstOption
          data-test="study-editor__general-info__categories-autocomplete"
        >
          <mat-option
            *ngFor="let category of filteredCategories | async"
            [disabled]="category === 'NO_RESULTS'"
            [value]="category"
            [attr.data-test]="'study-editor__general-info__categories-option_' + category"
          >
            {{ 'STUDY.CATEGORIES.' + category | translate }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <section role="presentation" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'FORM.START_DATE' | translate }}*</mat-label>
          <input
            formControlName="startDate"
            matInput
            [matDatepicker]="startDate"
            (focus)="startDate.open()"
            data-test="study-editor__general-info__start-date-input"
          />
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'FORM.END_DATE' | translate }}*</mat-label>
          <input
            formControlName="endDate"
            matInput
            [matDatepicker]="endDate"
            (focus)="endDate.open()"
            data-test="study-editor__general-info__end-date-input"
          />
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </section>

      <section role="presentation" class="num-margin-b-10">
        <p class="mat-display-4 num-margin-b-10">{{ 'FORM.FINANCING' | translate }}*</p>
        <mat-slide-toggle
          formControlName="financing"
          data-test="study-editor__general-info__financing-toggle"
          >{{ 'FORM.FINANCED_BY_PRIVATE' | translate }}</mat-slide-toggle
        >
      </section>
    </form>
  </section>
</mat-expansion-panel>
