<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3 class="accordion">
      <fa-icon icon="check-circle" *ngIf="form.valid"></fa-icon
      >{{ 'FORM.GENERAL_INFO' | translate }}*
    </h3>
  </mat-expansion-panel-header>

  <section
    role="region"
    aria-labelledby="general-info-label"
    fxLayout="column"
    fxFlex="100%"
    fxLayoutGap="20px"
  >
    <p id="general-info-label">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.
    </p>

    <form fxLayout="column" [formGroup]="form">
      <mat-form-field appearance="outline" color="accent">
        <mat-label id="title-label">{{ 'FORM.TITLE' | translate }}</mat-label>
        <input formControlName="title" matInput placeholder="Title" aria-labelledby="title-label" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label id="desc-label">{{ 'FORM.DESCRIPTION' | translate }}</mat-label>
        <textarea
          formControlName="description"
          #textarea
          matInput
          style="resize: none"
          aria-labelledby="desc-label"
          rows="10"
        ></textarea>
      </mat-form-field>

      <section role="presentation" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline" color="accent" fxFlex="50%">
          <mat-label id="label-firstHypotheses">{{
            'FORM.FIRST_HYPOTHESES' | translate
          }}</mat-label>
          <textarea
            formControlName="firstHypotheses"
            #textarea
            matInput
            style="resize: none"
            aria-labelledby="label-firstHypotheses"
            rows="10"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" fxFlex="50%">
          <mat-label id="label-secondHypotheses">{{
            'FORM.SECOND_HYPOTHESES' | translate
          }}</mat-label>
          <textarea
            formControlName="secondHypotheses"
            #textarea
            matInput
            style="resize: none"
            aria-labelledby="label-secondHypotheses"
            rows="10"
          ></textarea>
        </mat-form-field>
      </section>
    </form>
  </section>
</mat-expansion-panel>
