<section role="toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <span class="mat-body-strong"> {{ groupType | translate }} {{ groupIndex | groupIndex }}</span>

  <mat-form-field
    appearance="standard"
    class="num-operator-select"
    [style.visibility]="group.children.length <= 1 ? 'hidden' : 'visible'"
  >
    <mat-select
      [attr.aria-label]="'LOGICAL_OPERATOR' | translate"
      [(value)]="group.logicalOperator"
      [disabled]="group.children.length <= 1"
    >
      <mat-option *ngFor="let operator of logicalOperatorArray" [value]="operator">
        {{ operator }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>

<section role="listitem" *ngFor="let child of group.children; let i = index">
  <num-aql-builder-where-group
    role="list"
    class="group"
    fxFlex="100%"
    *ngIf="child.type === connectorNodeType.Group"
    [dialogMode]="dialogMode"
    [group]="child"
    [parentGroupIndex]="groupIndex"
    [index]="i"
    (delete)="deleteChildGroup($event)"
  ></num-aql-builder-where-group>

  <num-aql-builder-where-item
    class="aqb-item mat-elevation-z2"
    [ngClass]="{
      'aqb-item--last': i === group.children.length - 1
    }"
    *ngIf="child.type === connectorNodeType.Aqb_Item"
    [item]="child"
    [dialogMode]="dialogMode"
    (deleteItem)="deleteChildItem(i, $event)"
    fxFlex="100%"
    role="listitem"
    fxLayout="row"
    fxLayoutAlign="space-between start"
  ></num-aql-builder-where-item>
</section>

<section role="presentation" class="button-row" fxLayoutGap="20px">
  <span fxFlex></span>

  <num-button
    type="basic"
    (singleClick)="deleteSelf()"
    *ngIf="groupType !== connectorGroupType.Main"
    >{{ 'BUTTON.DELETE_GROUP' | translate }}</num-button
  >
</section>
