.researchers-container {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px;
  table {
    width: 100%;

    .mat-column-icon {
      text-align: right;
    }
  }

  .no-results {
    text-align: center;
    width: 100%;
  }
}
