<h1>{{ 'CONTACT.TITLE' | translate }}</h1>
<p>
  {{ 'CONTACT.DESCRIPTION' | translate }}
</p>

<div class="num-margin-b-40"></div>
<h2>{{ 'CONTACT.SUBTITLE1' | translate }}</h2>

<p [innerHtml]="'CONTACT.TEXT1' | translate"></p>

<div class="num-margin-b-40"></div>
<h2>{{ 'CONTACT.SUBTITLE2' | translate }}</h2>

<p [innerHtml]="'CONTACT.TEXT2' | translate"></p>

<p>{{ 'CONTACT.TEXT3' | translate }}</p>

<p [innerHtml]="'CONTACT.TEXT4' | translate"></p>

<div class="num-margin-b-40"></div>
<h2>{{ 'CONTACT.SUBTITLE3' | translate }}</h2>
<p [innerHtml]="'CONTACT.TEXT5' | translate"></p>
<p>
  {{ 'CONTACT.TEXT6' | translate }}
</p>
<div class="num-margin-b-20"></div>
<h3>{{ 'CONTACT.SUBTITLE4' | translate }}</h3>
<num-operation-administration></num-operation-administration>

<div class="num-margin-b-40"></div>
<h2>{{ 'CONTACT.SUBTITLE5' | translate }}</h2>
<num-contact-handling></num-contact-handling>
<p>Stand: 2023-04-26</p>
<div class="num-margin-b-40"></div>
