.general-info {
  margin: 0 0 25px 0;

  td,
  th {
    vertical-align: top;
    text-align: left;
    padding: 0 5px 0 0;

    * {
      vertical-align: top;
    }
  }
}

.query {
  word-break: break-word;
  white-space: pre-wrap;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0 0 25px 0;
}

:host ::ng-deep span.mark--name {
  color: blue;
}

:host ::ng-deep span.mark--operator {
  color: red;
}
