<section role="toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <span class="mat-body-strong"
    ><span class="not-icon" *ngIf="phenotypeGroup.isNegated">&not;</span>
    {{ groupType | translate }} {{ groupIndex | groupIndex }}</span
  >

  <mat-form-field appearance="standard" class="num-operator-select">
    <mat-select
      [attr.aria-label]="'LOGICAL_OPERATOR' | translate"
      [(value)]="phenotypeGroup.logicalOperator"
      [disabled]="phenotypeGroup.children.length <= 1"
    >
      <mat-option *ngFor="let operator of logicalOperatorArray" [value]="operator">
        {{ operator }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span fxFlex></span>

  <mat-slide-toggle labelPosition="before" [(ngModel)]="phenotypeGroup.isNegated"
    >Negation</mat-slide-toggle
  >
</section>

<section role="listitem" *ngFor="let child of phenotypeGroup.children; let i = index">
  <num-phenotype-editor-connector-group
    role="list"
    class="group"
    *ngIf="child.type === phenotypeQueryType.Group"
    [phenotypeGroup]="child"
    [parentGroupIndex]="groupIndex"
    [index]="i"
    (delete)="deleteChild($event)"
    fxFlex="100%"
  ></num-phenotype-editor-connector-group>

  <num-phenotype-editor-connector-aql
    class="aql mat-elevation-z2"
    [ngClass]="{
      'aql--last': i === phenotypeGroup.children.length - 1,
      configured: $any(child).areParameterConfigured
    }"
    *ngIf="child.type === phenotypeQueryType.Aql"
    (configureAql)="editQuery(i)"
    [phenotypeAql]="child"
    fxFlex="100%"
    role="listitem"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  ></num-phenotype-editor-connector-aql>
</section>

<section role="presentation" class="button-row" fxLayoutGap="20px">
  <button mat-flat-button class="num-button-align" color="primary" (click)="addQuery()">
    <fa-icon class="num-fc--a" icon="plus" size="lg" [fixedWidth]="true"></fa-icon>
    {{ 'BUTTON.ADD_QUERY' | translate }}
  </button>
  <button mat-stroked-button class="num-button-align" color="primary" (click)="addGroup()">
    <fa-icon class="num-fc--a" icon="plus" size="lg" [fixedWidth]="true"></fa-icon>
    {{ 'BUTTON.ADD_GROUP' | translate }}
  </button>

  <span fxFlex></span>

  <button
    mat-button
    class="num-button-align"
    color="primary"
    (click)="deleteSelf()"
    *ngIf="groupType === phenotypeGroupType.Sub"
  >
    {{ 'BUTTON.DELETE_GROUP' | translate }}
  </button>
</section>
