<section role="toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <span class="mat-body-strong"
    ><span class="not-icon" *ngIf="phenotypeGroup.isNegated">&not;</span>
    {{ groupType | translate }} {{ groupIndex | groupIndex }}</span
  >

  <mat-form-field
    appearance="standard"
    class="num-operator-select"
    [style.visibility]="phenotypeGroup.children.length <= 1 ? 'hidden' : 'visible'"
  >
    <mat-select
      [attr.aria-label]="'LOGICAL_OPERATOR' | translate"
      [(value)]="phenotypeGroup.logicalOperator"
      [disabled]="phenotypeGroup.children.length <= 1"
    >
      <mat-option *ngFor="let operator of logicalOperatorArray" [value]="operator">
        {{ operator }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span fxFlex></span>

  <mat-slide-toggle labelPosition="before" [(ngModel)]="phenotypeGroup.isNegated"
    >Negation</mat-slide-toggle
  >
</section>

<section role="listitem" *ngFor="let child of phenotypeGroup.children; let i = index">
  <num-phenotype-editor-connector-group
    role="list"
    class="group"
    *ngIf="child.type === connectorNodeType.Group"
    [phenotypeGroup]="child"
    [parentGroupIndex]="groupIndex"
    [index]="i"
    (delete)="deleteChild($event)"
    fxFlex="100%"
  ></num-phenotype-editor-connector-group>

  <num-phenotype-editor-connector-aql
    class="aql mat-elevation-z2"
    [ngClass]="{
      'aql--last': i === phenotypeGroup.children.length - 1,
      configured: $any(child).areParameterConfigured
    }"
    *ngIf="child.type === connectorNodeType.Aql"
    (configureAql)="editQuery(i)"
    [phenotypeAql]="child"
    fxFlex="100%"
    role="listitem"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  ></num-phenotype-editor-connector-aql>
</section>

<section role="presentation" class="button-row" fxLayoutGap="20px">
  <num-button type="primary" (click)="addQuery()" icon="plus">{{
    'BUTTON.ADD_QUERY' | translate
  }}</num-button>
  <num-button type="secondary" (click)="addGroup()" icon="plus">{{
    'BUTTON.ADD_GROUP' | translate
  }}</num-button>

  <span fxFlex></span>

  <num-button *ngIf="groupType === connectorGroupType.Sub" type="basic" (click)="deleteSelf()">{{
    'BUTTON.DELETE_GROUP' | translate
  }}</num-button>
</section>
