<section fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center">
  <div class="name-field mat-body-strong">{{ item.name | archetype: true }}</div>
</section>

<section class="right-panel" fxLayoutGap="10px" fxLayoutAlign="end center">
  <div class="alias-prefix">{{ 'AQL.AS' | translate }}</div>
  <ng-container [formGroup]="aliasForm">
    <mat-form-field floatLabel="always" appearance="outline" class="num-tiny-input value-input">
      <mat-label id="label">Alias</mat-label>
      <input
        aria-labelledby="label"
        type="text"
        matInput
        formControlName="value"
        [attr.data-test]="'aqb__select__item__' + item.name + '__alias-input'"
      />
    </mat-form-field>
  </ng-container>

  <button
    color="primary"
    mat-icon-button
    (click)="deleteSelf()"
    [attr.aria-label]="'BUTTON.DELETE' | translate"
    [attr.data-test]="'aqb__select__item__' + item.name + '__delete-button'"
  >
    <fa-icon icon="trash" size="lg" [fixedWidth]="true"></fa-icon>
  </button>
</section>
