@use '@angular/material' as mat;
@include mat.core();

/* Define the grey palette if not already defined */
$mat-grey: mat.define-palette(mat.$grey-palette);

/* Define your custom variables */
$dark-focused: rgba(0, 0, 0, 0.12);

@function mat-light-theme-background($primary, $accent, $additional) {
  @return (
    background: mat.get-color-from-palette($additional, page-background),
    disabled-button: mat.get-color-from-palette($primary, 200),
    // Defaults below
    status-bar: map_get($mat-grey, 300),
    app-bar: map_get($mat-grey, 100),
    hover: rgba(black, 0.04),
    card: white,
    dialog: white,
    raised-button: white,
    focused-button: $dark-focused,
    selected-button: map_get($mat-grey, 300),
    selected-disabled-button: map_get($mat-grey, 400),
    disabled-button-toggle: map_get($mat-grey, 200),
    unselected-chip: map_get($mat-grey, 300),
    disabled-list-option: map_get($mat-grey, 200),
    tooltip: map_get($mat-grey, 700)
  );
}
