.num-mat-lang-toggle-button {
  border: none;

  .mat-button-toggle {
    background-color: transparent;
    font-size: 14px;
  }

  .mat-button-toggle-appearance-standard {
    color: rgba(255, 255, 255, 0.7);

    &.mat-button-toggle-checked {
      color: rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
  }

  .mat-button-toggle-focus-overlay {
    height: 100%;
    border: none !important;
  }
}
