<num-header>
  <!-- Header Content -->
  <button
    type="button"
    attr.aria-label="Toggle sidenav"
    [attr.aria-label]="'APPLAYOUT.TOGGLE.LABEL' | translate"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">

    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</num-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    fixedTopGap="64"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [attr.aria-label]="'APPLAYOUT.SIDENAV.LABEL' | translate"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <!-- Menu Content-->
    <num-side-menu></num-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Page Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
