<h2 id="section-heading" class="mat-display-2 pointer" (click)="setDestination()">Where</h2>
<div
  class="num-select-flag pointer"
  [ngClass]="{
    'num-select-flag--active': aqbModel.selectDestination === AqbSelectDestination.Where
  }"
  role="button"
  tabindex="0"
  aria-labelledby="section-heading"
  (keydown.enter)="setDestination()"
  (keydown.space)="setDestination()"
  (click)="setDestination()"
  data-test="aqb__where__set-destination-button"
>
  <fa-icon icon="check"></fa-icon>
</div>

<div
  class="num-select-box"
  fxLayout="column"
  fxLayoutGap="20px"
  [ngClass]="{
    'num-select-box--active': aqbModel.selectDestination === AqbSelectDestination.Where
  }"
>
  <num-aql-builder-where-group
    *ngIf="$any(aqbModel.where.children[1])?.children.length"
    role="list"
    class="group"
    [dialogMode]="dialogMode"
    [group]="aqbModel.where.children[1]"
    [parentGroupIndex]="null"
    data-test="aqb__where__group"
  ></num-aql-builder-where-group>
</div>
<p *ngIf="dialogMode === aqlBuilderDialogMode.DataRetrieval">
  {{ 'QUERIES.WHERE_RESTRICTED_TO_COHORT' | translate }}
</p>
