.mat-button-toggle {
  background-color: transparent;
  color: white;
  font-size: 14px;
}

.mat-button-toggle-checked {
  border-style: none none solid none;
  border-width: thin;
}
.mat-button-toggle-group-appearance-standard {
  border: none;
}
