<h3>{{ 'PROJECT.APPROVAL_INFORMATION' | translate }}</h3>

<mat-card appearance="outlined" class="mat-elevation-z4">
  <p id="approval-info">{{ 'PROJECT.APPROVAL_HINT' | translate }}</p>
  <h4>{{ 'PLEASE_CHOOSE' | translate }}...*</h4>
  <form [formGroup]="form">
    <mat-radio-group
      aria-labelledby="approval-info"
      fxLayout="column"
      fxLayoutGap="10px"
      formControlName="decision"
      data-test="project-editor__approval__radio-group"
    >
      <mat-radio-button
        *ngFor="let approvalOption of approvalOptions"
        [value]="approvalOption"
        [attr.data-test]="'project-editor__approval__' + approvalOption + '-radio-option'"
      >
        {{ 'PROJECT.REVIEW.' + approvalOption | translate }}</mat-radio-button
      >
    </mat-radio-group>
  </form>
</mat-card>
