.group-box {
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 6px;
  padding: 20px;
}
.placeholder {
  width: 100%;
  min-height: 200px;
}

.aqb-item {
  height: 55px;
  padding: 0 15px;
}
