<h2 id="section-heading" class="mat-display-2 pointer" (click)="setDestination()">Select</h2>
<div
  class="num-select-flag pointer"
  role="button"
  tabindex="0"
  aria-labelledby="section-heading"
  (keydown.enter)="setDestination()"
  (keydown.space)="setDestination()"
  (click)="setDestination()"
  data-test="aqb__select__set-destination-button"
>
  <fa-icon icon="check"></fa-icon>
</div>
<div class="num-aqb-box" fxLayout="column">
  <num-aql-builder-select-item
    class="aqb-item mat-elevation-z2"
    [ngClass]="{
      'aqb-item--last': i === aqbModel.select.length - 1
    }"
    fxLayout="row"
    fxLayoutAlign="space-between start"
    *ngFor="let item of aqbModel.select; let i = index"
    [item]="item"
    (deleteItem)="deleteItem(i)"
  ></num-aql-builder-select-item>
</div>
