<section
  class="num-footer"
  role="contentinfo"
  fxLayout="column-reverse"
  fxLayout.gt-sm="row"
  fxLayoutAlign="space-between center"
>
  <div>© {{ config.legal.copyrightOwner }}</div>

  <section role="region" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
    <a (click)="menuItemClicked($event)" mat-button [routerLink]="['legal/imprint']">{{
      'LEGAL.DISCLOSURE' | translate
    }}</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a (click)="menuItemClicked($event)" mat-button [routerLink]="['legal/data-protection']">{{
      'LEGAL.DATAPROTECTION' | translate
    }}</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a (click)="menuItemClicked($event)" mat-button [routerLink]="['legal/contact']">{{
      'LEGAL.CONTACT' | translate
    }}</a>
  </section>
</section>
