<mat-toolbar class="num-footer" role="contentinfo">
  <mat-toolbar-row>
    <div>© {{ config.legal.copyrightOwner }}</div>
    <span fxFlex></span>
    <a mat-button [routerLink]="['legal/imprint']">{{ 'LEGAL.DISCLOSURE' | translate }}</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a mat-button [routerLink]="['legal/data-protection']">{{
      'LEGAL.DATAPROTECTION' | translate
    }}</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a mat-button [routerLink]="['legal/contact']">{{ 'LEGAL.CONTACT' | translate }}</a>
  </mat-toolbar-row>
</mat-toolbar>
