<mat-toolbar class="num-footer" role="contentinfo">
  <mat-toolbar-row>
    <div>© 2020 {{ config.legal.copyrightOwner }}</div>
    <span fxFlex></span>
    <a mat-button href="#">{{ 'LEGAL.DISCLOSURE' | translate }}</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a mat-button href="#">{{ 'LEGAL.DATAPROTECTION' | translate }}</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a mat-button href="#">{{ 'LEGAL.CONTACT' | translate }}</a>
  </mat-toolbar-row>
  <mat-toolbar-row class="version-row">
    <span fxFlex></span>
    <div class="version">Version {{ config.legal.version }}</div>
  </mat-toolbar-row>
</mat-toolbar>
