<mat-accordion [multi]="true" fxFlex="100%">
  <num-study-editor-general-info [form]="studyForm"></num-study-editor-general-info>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Select OpenEHR templates </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Coming soon</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Cohort Assembly</mat-panel-title>
    </mat-expansion-panel-header>

    <p>Coming soon</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Select Researchers </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Coming soon</p>
  </mat-expansion-panel>
</mat-accordion>
