<section role="region" fxLayout="column" fxFlex="100%">
  <h2>{{ 'NAVIGATION.CONFIGURE_STUDY' | translate }}</h2>
  <p class="num-margin-b-40">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget
    imperdiet neque. In volutpat ante semper diam molestie, et aliquam.
  </p>
  <mat-accordion [multi]="true" fxFlex="100%" class="num-margin-b-60">
    <num-study-editor-general-info [form]="studyForm"></num-study-editor-general-info>

    <num-study-editor-templates [templates]="studyTemplate"> </num-study-editor-templates>

    <num-study-editor-connector [cohortNode]="cohortGroup"></num-study-editor-connector>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h3 class="accordion">Select Researchers</h3>
      </mat-expansion-panel-header>

      <p>Coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>

  <section role="region" fxLayout="column">
    <mat-divider class="num-d-w--1 num-margin-b-40"></mat-divider>
    <div role="presentation" fxLayout="row" fxLayoutAlign="space-between">
      <num-button type="secondary">{{ 'BUTTON.CANCEL' | translate }}</num-button>
      <div role="presentation" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
        <num-button type="secondary" [isDisabled]="!formTitle.valid" (click)="save()">{{
          'BUTTON.SAVE' | translate
        }}</num-button>
        <num-button
          type="primary"
          (click)="sendForApproval()"
          [isDisabled]="!studyForm.valid || !study.researchers.length || !study.templates.length"
          >{{ 'BUTTON.REQUEST_APPROVAL' | translate }}</num-button
        >
      </div>
    </div>
  </section>
</section>
