<mat-expansion-panel>
  <mat-expansion-panel-header data-test="projects-editor__connector__define-cohort-button">
    <mat-panel-title>
      <h3 class="accordion">
        <fa-icon
          [icon]="['far', 'check-circle']"
          *ngIf="cohortNode.children.length && cohortNode.areParameterConfigured"
        ></fa-icon
        >{{ 'DEFINE_COHORT' | translate }}*
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-template #spinner>
    <mat-progress-bar [color]="'accent'" mode="indeterminate"></mat-progress-bar>
  </ng-template>

  <section
    role="region"
    aria-labelledby="general-info-label"
    fxLayout="column"
    fxFlex="100%"
    fxLayoutGap="20px"
    *ngIf="isLoadingComplete; else spinner"
  >
    <div>{{ 'DEFINE_COHORT_CONTENT' | translate }}</div>

    <num-project-editor-connector-group
      role="list"
      class="num-margin-b-20"
      [cohortGroup]="cohortNode"
      [parentGroupIndex]="null"
      [isDisabled]="isDisabled"
      fxFlex="100%"
      data-test="project-editor__connector__group"
    ></num-project-editor-connector-group>

    <num-editor-determine-hits
      [isButtonDisabled]="!(cohortNode.children.length && cohortNode.areParameterConfigured)"
      [content]="determineHitsContent"
      (clicked)="determineHitsClicked.emit()"
    ></num-editor-determine-hits>
  </section>
</mat-expansion-panel>
