<table [attr.aria-label]="'ADD_AQL_DIALOG_HEADER' | translate" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th scope="col" mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th scope="col" mat-header-cell *matHeaderCellDef>author</th>
    <td mat-cell *matCellDef="let element">Lars Schäfer</td>
  </ng-container>

  <ng-container matColumnDef="organisation">
    <th scope="col" mat-header-cell *matHeaderCellDef>organisation</th>
    <td mat-cell *matCellDef="let element">Appsfactory GmbH</td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th scope="col" mat-header-cell *matHeaderCellDef>icon</th>
    <td mat-cell *matCellDef="let element">
      <fa-icon
        role="button"
        [attr.aria-label]="'SELECT' | translate"
        icon="plus"
        class="num-fc--a pointer"
        size="lg"
        [fixedWidth]="true"
        *ngIf="!lookupSelectedAql[element.id]; else selectedIcon"
        (click)="handleRowClick(element)"
      ></fa-icon>
      <ng-template #selectedIcon>
        <fa-icon icon="check" class="num-fc--d" size="lg" [fixedWidth]="true"></fa-icon>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" hidden></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
