<num-search
  label="SEARCH_RESEARCHERS"
  [(searchText)]="filterConfig.searchText"
  (searchTextChange)="handleSearchChange()"
></num-search>

<section role="presentation" fxLayout="column" fxLayoutGap="24px">
  <h2 class="mat-display-2" fxFlex="100%" fxFlex.gt-sm="100%">
    {{ 'RESEARCHERS.PLEASE_SELECT_AT_LEAST_1_PERSON' | translate }}
  </h2>

  <mat-card class="filter-area mat-elevation-z4" fxFlex="100%" fxFlex.gt-sm="100%">
    <num-filter-table
      *ngIf="usersTableItems && usersTableItems.length > 0"
      [items]="usersTableItems"
      (selectedItemsChange)="selectedResearchersChange($event)"
    ></num-filter-table>
  </mat-card>
</section>
