<num-search
  label="RESEARCHERS.SEARCH_RESEARCHERS"
  [(searchText)]="filterConfig.searchText"
  (searchTextChange)="handleSearchChange()"
></num-search>

<h2 class="mat-display-2">
  {{ 'RESEARCHERS.PLEASE_SELECT_AT_LEAST_1_PERSON' | translate }}
</h2>

<mat-card class="filter-area mat-elevation-z4 num-margin-b-20">
  <num-filter-table
    [dataSource]="dataSource"
    [columnKeys]="columnKeys"
    [columnPaths]="columnPaths"
    [(selectedItems)]="selectedResearchers"
    [identifierName]="'id'"
  ></num-filter-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

<mat-divider class="num-d-w--1"></mat-divider>
