<mat-expansion-panel>
  <mat-expansion-panel-header [attr.data-test]="'aqb__containment__' + templateId + '__header'">
    <mat-panel-title [attr.data-test]="'aqb__containment__' + templateId + '__header__title'">
      {{ templateId }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-template #spinnerOrError>
    <mat-progress-bar
      *ngIf="!hasError"
      [color]="'accent'"
      mode="indeterminate"
      [attr.data-test]="'aqb__containment__' + templateId + '__spinner'"
    ></mat-progress-bar>
    <div [attr.data-test]="'aqb__containment__' + templateId + '__error'" *ngIf="hasError">
      {{ 'QUERIES.GET_COMPOSITION_ERROR' | translate }}
    </div>
  </ng-template>

  <mat-tree
    [dataSource]="nestedDataSource"
    [treeControl]="nestedTreeControl"
    class="num-tree"
    *ngIf="compositionId; else spinnerOrError"
  >
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <ul>
        <li
          class="mat-tree-node pointer"
          (dblclick)="handleItemDoubleClick(node)"
          [attr.data-test]="
            'aqb__containment__' +
            templateId +
            '__node__' +
            node.parentArchetypeId +
            '__' +
            node.name
          "
        >
          <button mat-icon-button disabled></button>
          <span
            class="mat-tree-node__display-name"
            [ngClass]="{
              'mat-tree-node__display-name--disabled':
                mode === Mode.DataRetrieval && selectDestination === Destination.Select
            }"
            >{{ node.displayName }}</span
          >
        </li>
      </ul>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <ul>
        <li>
          <div
            class="mat-tree-node pointer"
            (dblclick)="handleItemDoubleClick(node)"
            [attr.data-test]="'aqb__containment__' + templateId + '__node__' + node.archetypeId"
          >
            <button mat-icon-button matTreeNodeToggle>
              <fa-icon
                [icon]="'angle-right'"
                [rotate]="nestedTreeControl.isExpanded(node) ? 90 : 0"
              ></fa-icon>
            </button>
            <span
              class="mat-tree-node__display-name"
              [ngClass]="{
                'mat-tree-node__display-name--disabled':
                  selectDestination === Destination.Where ||
                  (mode === Mode.DataRetrieval &&
                    selectDestination === Destination.Select &&
                    node.archetypeId !== compositionId)
              }"
              >{{ node.displayName }}</span
            >
          </div>
          <ul [class.num-tree-invisible]="!nestedTreeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </ul>
    </mat-nested-tree-node>
  </mat-tree>
</mat-expansion-panel>
