mat-tree {
  margin-left: -24px;
  max-height: 550px;
  overflow-y: scroll;
}

mat-panel-title {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 8px 0 0;
}

.num-tree-invisible {
  display: none;
}

.num-tree ul,
.num-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.num-tree ul {
  padding-inline-start: 12px;
}
