<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3 id="select-header" class="accordion">
        <fa-icon icon="check-circle" *ngIf="templatesValue.length"></fa-icon>
        {{ 'SELECT_EHR_TEMPLATE' | translate }}*
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section
    role="region"
    aria-labelledby="select-header"
    fxLayout="column"
    fxFlex="100%"
    fxLayoutGap="20px"
  >
    <div>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.
    </div>

    <num-add-template-selected-table
      [(selectedTemplates)]="templates"
      [disableStatus]="isDisable"
    ></num-add-template-selected-table>

    <num-button type="primary" icon="plus" [isDisabled]="isDisable" (singleClick)="addTemplate()">{{
      'BUTTON.ADD_TEMPLATE' | translate
    }}</num-button>
  </section>
</mat-expansion-panel>
