.determine-hits-count {
  border: 1px solid var(--num-color--primary);
  width: 90px;
  height: 36px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.template {
  border-bottom: 1px solid var(--num-color--light-grey);
  padding: 5px;

  &:last-of-type {
    margin: 0 0 16px 0;
  }
}

.templates-container-empty {
  padding: 50px;
}

.empty-state {
  text-align: center;
}
