<h3 id="aql-headline">{{ 'AVAILABLE_AQLS' | translate }}</h3>

<section fxLayout="column">
  <section fxLayout="row">
    <ng-container>
      <p class="filter-title">{{ 'FILTER' | translate }}</p>
      <mat-select
        class="filter-select"
        fxFlex="25%"
        [(value)]="selected"
        (selectionChange)="handleFilterChange()"
      >
        <mat-option value="ALL_AQLS">{{ 'ALL_AQLS' | translate }}</mat-option>
        <mat-option value="MY_AQLS">{{ 'MY_AQLS' | translate }}</mat-option>
        <mat-option value="ORGANISATION_AQLS">{{ 'ORGANISATION_AQLS' | translate }}</mat-option>
      </mat-select>
    </ng-container>

    <num-search
      fxFlexOffset="auto"
      fxFlex="25%"
      label="SEARCH_AQLS"
      [(searchText)]="filterConfig.searchText"
      (searchTextChange)="handleSearchChange()"
    ></num-search>
  </section>

  <ng-container>
    <table
      aria-labelledby="aql-headline"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z1"
    >
      <ng-container matColumnDef="name">
        <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th scope="col" mat-header-cell *matHeaderCellDef>author</th>
        <td mat-cell *matCellDef="let element">Lars Schäfer</td>
      </ng-container>

      <ng-container matColumnDef="organisation">
        <th scope="col" mat-header-cell *matHeaderCellDef>organisation</th>
        <td mat-cell *matCellDef="let element">Appsfactory GmbH</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-container>
</section>
